{% load static %}

<ul class="sidebar-nav">
	<li class="sidebar-header">
		Páginas
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'index'%}">
			<i class="align-middle me-2 fas fa-fw fa-store-alt"></i> <span class="align-middle">Inicio</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'verusuario'%}">
			<i class="align-middle me-2 fas fa-fw fa-user"></i> <span class="align-middle">Usuarios</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'produccion'%}">
			<i class="align-middle me-2 fas fa-fw fa-wrench"></i> <span class="align-middle"></span>Producción</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'vercliente'%}">
			<i class="align-middle me-2 fas fa-fw fa-users"></i> <span class="align-middle">Clientes</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'verproveedor'%}">
			<i class="align-middle me-2 fas fa-fw fa-truck"></i> <span class="align-middle">Proveedores</span>
		</a>
	</li>

	<a data-bs-target="#multi" data-bs-toggle="collapse" class="sidebar-link collapsed" aria-expanded="false">
		<i class="align-middle me-2 fas fa-fw fa-keyboard"></i> <span class="align-middle">Productos</span>
	</a>
	<ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
		<li class="sidebar-item">
			<a class="sidebar-link" href="{%url 'ver_placa_base'%}">
				<i class="align-middle me-2 fas fa-fw fa-chess-board"></i> <span class="align-middle">Placas Base</span>
			</a>
		</li>

		<li class="sidebar-item">
			<a class="sidebar-link" href="{%url 'ver_cpu'%}">
				<i class="align-middle me-2 fas fa-fw fa-th-large"></i> <span class="align-middle">Procesadores</span>
			</a>
		</li>

		<li class="sidebar-item">
			<a class="sidebar-link" href="{%url 'ver_ram'%}">
				<i class="align-middle me-2 fas fa-fw fa-memory"></i> <span class="align-middle">Memorias RAM</span>
			</a>
		</li>

		<li class="sidebar-item">
			<a class="sidebar-link" href="{%url 'perifericover'%}">
				<i class="align-middle me-2 fas fa-fw fa-desktop"></i> <span class="align-middle">Periféricos</span>
			</a>
		</li>
		<li class="sidebar-item">
			<a class="sidebar-link" href="{%url 'repuestover'%}">
				<i class="align-middle me-2 fas fa-fw fa-microchip"></i> <span class="align-middle">Repuestos</span>
			</a>
		</li>

		<li class="sidebar-item">
			<a class="sidebar-link" href="{%url 'ver_gab'%}">
				<i class="align-middle me-2 fas fa-fw fa-suitcase"></i> <span class="align-middle">Gabinetes</span>
			</a>
		</li>

		<li class="sidebar-item">
			<a class="sidebar-link" href="{%url 'ver_productos'%}">
				<i class="align-middle me-2 fas fa-fw fa-globe"></i> <span class="align-middle">Listado General</span>
			</a>
		</li>
	</ul>
	
	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'inventario'%}">
			<i class="align-middle me-2 fas fa-fw fa-book"></i> <span class="align-middle">Inventario</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'perifericover'%}">
			<i class="align-middle me-2 fas fa-fw fa-shopping-cart"></i> <span class="align-middle">Compras</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="">
			<i class="align-middle me-2 fas fa-fw fa-dollar-sign"></i> <span class="align-middle">Ventas</span>
		</a>
	</li>

	<li class="sidebar-header">
		Mantenimiento
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'verdepartamento'%}">
			<i class="align-middle me-2 fas fa-fw fa-map-marked-alt"></i> <span class="align-middle">Departamentos</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'verciudad'%}">
			<i class="align-middle me-2 fas fa-fw fa-city"></i> <span class="align-middle">Ciudades</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'vernacionalidad'%}">
			<i class="align-middle me-2 fas fa-fw fa-flag"></i> <span class="align-middle">Nacionalidades</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'vertipo_ram'%}">
			<i class="align-middle me-2 fas fa-fw fa-memory"></i> <span class="align-middle">Tipos de RAM</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'vertipo_cpu'%}">
			<i class="align-middle me-2 fas fa-fw fa-th-large"></i> <span class="align-middle">Tipos de CPU</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{%url 'vertipo_gabinete'%}">
			<i class="align-middle me-2 fas fa-fw fa-suitcase"></i> <span class="align-middle">Tipos de Gabinete</span>
		</a>
	</li>
</ul>

</div>