{%extends "base.html"%}
{%load static%}
{%block barra%}

<body>
	<body>
	<style>
	.display-4 {
    	font-size: 1.5rem;
	}
	</style>
	<p id="msjError" style="display: none">
		{% if mensaje %}
			<p class="message-error" hidden>{{mensaje}}</p>
		{% endif %}
	</p>
					<div class="row mb-2 mb-xl-3">
							<h1><strong>Página</strong> de Ajustes</h1>
							<div>		
								<div class="tab-content">
									<div class="row py-4">
										<h4><strong>Timbrados</strong></h2>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'vertimbrado_venta' %}">
													<div>
													
														<span class="display-4">Timbrados EncarPC</span>
													</div>
													<img class="img-responsive mt-2" width="100" height="100" src="{%static 'img/icons/factura_venta.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Gestionar Timbrados de la Empresa</h6>
												</a>
											</div>
										</div>
										
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'vertalonario_venta' %}">
													<div>
														
														<span class="display-4">Talonarios EncarPC</span>
													</div>
													<img class="img-responsive mt-2" width="100" height="100" src="{%static 'img/icons/talonario.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Nuevo Montaje</h6>
												</a>
												
											</div>
										</div>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'vertimbrado_prov' %}">
													<div>
														
														<span class="display-4">Timbrados Proveedor</span>
													</div>
													<img class="img-responsive mt-2" width="100" height="100" src="{%static 'img/icons/factura.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Gestionar Timbrados Proveedor</h6>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-content">
									<div class="row py-4">
										<h4><strong>Ubicación</strong></h2>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'verdepartamento' %}">
													<div>
													
														<span class="display-4">Departamentos</span>
													</div>
													<img class="img-responsive mt-2" width="100" height="100" src="{%static 'img/icons/departamento.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Gestionar Timbrados de la Empresa</h6>
												</a>
											</div>
										</div>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'verciudad' %}">
													<div>
														
														<span class="display-4">Ciudades</span>
													</div>
													<img class="img-responsive mt-2" width="100" height="100" src="{%static 'img/icons/ciudad.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Gestionar Timbrados Proveedor</h6>
												</a>
											</div>
										</div>
										
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'vernacionalidad' %}">
													<div>
														
														<span class="display-4">Nacionalidades</span>
													</div>
													<img class="img-responsive mt-2" width="100" height="100" src="{%static 'img/icons/nacionalidad.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Nuevo Montaje</h6>
												</a>
												
											</div>
										</div>
									</div>
								</div>
								<div class="tab-content">
									<div class="row py-4">
										<h4><strong>Tipos de Componentes</strong></h2>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'vertipo_cpu' %}">
													<div>
													
														<span class="display-4">Tipos de CPU</span>
													</div>
													<img class="img-responsive mt-2" width="100" height="100" src="{%static 'img/icons/cpu.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Gestionar Timbrados de la Empresa</h6>
												</a>
											</div>
										</div>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'vertipo_ram' %}">
													<div>
														
														<span class="display-4">Tipos de RAM</span>
													</div>
													<img class="img-responsive mt-2" width="100" height="100" src="{%static 'img/icons/memoria.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Gestionar Timbrados Proveedor</h6>
												</a>
											</div>
										</div>
										
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'vertipo_gabinete' %}">
													<div>
														
														<span class="display-4">Tipos de Gabinete</span>
													</div>
													<img class="img-responsive mt-2" width="100" height="100" src="{%static 'img/icons/gabinete.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Nuevo Montaje</h6>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
										

	<script src="{%static 'js/app.js'%}"></script>
	<script>
		function mostrar_modal() {
        	$(document).ready(function () {
            $('#modal_placas').modal('show');
        	});
    	}

		function cerrar_modal() {
        	$(document).ready(function () {
            $('#modal_placas').modal('hide');
        	});
    	}
		
        var mensaje = document.getElementsByClassName("message-error")
        setTimeout(showAlert, 200) 
        function showAlert() {
            if(mensaje[0]){
                alert(mensaje[0].innerHTML)
            }
        }
    </script>

</body>

{%endblock%}