{% extends "base.html" %}
{% load static %}

{% block barra %}

<style>
    .card-header {
        background: #f2f2f2;
    }

    .card-block {
        height: 40em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f2f2f2;
    }

    .form-material {
        display: flex;
        margin: 1em;
        height: 100%;
        width: 65%;
        gap: 2em;
        flex-direction: column;
        background: #f2f2f2;
    }

    .input-confirmar {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        padding: 1em;
    }

    .input-estado {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 100%;
        height: auto;
        grid-gap: 2em;
        justify-content: center;
        padding: 1em;
    }

    .caja-botones{
        display: flex;
        justify-content: flex-end;
        gap: 0.5em;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
    }
    
    .titulo{
        margin-top: 1em;
    }

</style>
<body>
	<script>
        $(document).ready(function () {
            var table = $('#item').DataTable({
				"lengthMenu": [[5 ,10, 25, 50, -1], [5, 10, 25, 50, "Todo"]]
            });
        });
		
    </script>


<div class="py-4">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<form style="margin: 1em;border-radius: 10px;" enctype="multipart/form-data" id="formCompra" action="#" method="POST" onsubmit="return false"; style="margin: 1em">
					{% csrf_token %}
					<div class="card" style="padding: 0.5em;">
						<h1 class="text-center" style="padding: 0.5em;">COMPRA</h1>
						<div class="input-confirmar" style="grid-template-columns: 1fr 1fr 1fr;">
							<div>
								<label class="float-label">RUC del Proveedor</label>
								<span class="form-bar"></span>
								<input class="form-control mb-3" type="text" name="ruc_proveedor" id="ruc_proveedor" placeholder="Ingrese RUC del Proveedor"
								onfocusout="traerProveedor(this)" required>
							</div>
							<div class="form-group form-default">
								<label class="float-label">Nro. de Timbrado</label>
								<select class="form-select" name="nacionalidad" id="timbrado">
									<option value=0>--SELECCIONE UNA OPCION--</option>
								</select>
							</div>
							<div class="form-group form-default mb-3">
								<label class="float-label">Fecha de Vencimiento Timbrado</label>
								<span class="form-bar"></span>
								<input type="date" name="" class="form-control" id="fch_timbrado" required readonly
									value="">
							</div>
						</div>
						<div class="input-confirmar" style="grid-template-columns: 1fr 1fr 1fr;">
							<div>
								<label class="float-label">Nro. Factura</label>
								<input type="number" id="nro_factura" class="form-control mb-3" name="nro_factura" required> 
							</div>
							<div>
								<label class="float-label">Razón Social del Proveedor</label>
								<label class="form-control mb-3" id="razon_social_proveedor" readonly> </label>
								<input type="text" style="display: none;" id="codigo_proveedor" name="codigo_proveedor"> 
							</div>
							<div class="form-group form-default mb-3">
								<label class="float-label">Fecha de Compra</label>
								<span class="form-bar"></span>
								<input type="date" id="fch_compra" name="fch_compra" class="form-control" required readonly
									value="{{parameters.fecha_act}}">
							</div>
							<div>
								<label class="float-label">Teléfono Proveedor</label>
								<label class="form-control mb-3" id="telefono_proveedor" readonly> </label>
								<input type="text" style="display: none;" id="codigo_proveedor" name="codigo_proveedor">
							</div>
							<div>
								<label class="float-label">Direccion del Proveedor</label>
								<label class="form-control mb-3" id="direccion_proveedor" readonly> </label>
								<input type="text" style="display: none;" id="codigo_proveedor" name="codigo_proveedor">
							</div>
						</div>
					</div>
					<div class="input-confirmar card">
						<section class="store">
							<table id="item" class="table table-striped" style="width:100%">
								
								<thead>
									<tr>
										<th>Código</th>
										<th>Imagen</th>
										<th>Tipo</th>
										<th>Marca</th>
										<th>Descripción</th>
										<th>Precio Venta</th>
										<th>Stock</th>
										<th>Acción</th>
									</tr>
								</thead>
								<tbody>
									{% for lista in parameters.listaperiferico %}
									<tr class="item">
										<td class="item-id">{{ lista.cod_periferico }}</td>
										{% if lista.imagen_periferico != '' %}
										<td><img class="item-image" src="{{ lista.imagen_periferico.url }}" width="100" height="100"></td>
										{% else %}
										<td><img class="item-image" src="{% static 'img\photos\producto-sin-imagen.jpg'%}" width="100"
												height="100"></td>
										{% endif %}
										{%if lista.tipo_periferico == 1 %}<td>Fuente</td>{% endif %}
										{%if lista.tipo_periferico == 2 %}<td>Gabinete</td>{% endif %}
										{%if lista.tipo_periferico == 3 %}<td>Almacenamiento</td>{% endif %}
										{%if lista.tipo_periferico == 4 %}<td>Mouse</td>{% endif %}
										{%if lista.tipo_periferico == 5 %}<td>Teclado</td>{% endif %}
										{%if lista.tipo_periferico == 6 %}<td>Auriculares</td>{% endif %}
										{%if lista.tipo_periferico == 7 %}<td>Monitor</td>{% endif %}
										{%if lista.tipo_periferico == 8 %}<td>Placa de Video</td>{% endif %}
										{%if lista.tipo_periferico == 9 %}<td>Impresora</td>{% endif %}
										{%if lista.tipo_periferico == 10 %}<td>Otros</td>{% endif %}
										{%if lista.tipo_periferico == 11 %}<td>Placa Base</td>{% endif %}
										{%if lista.tipo_periferico == 12 %}<td>Repuesto</td>{% endif %}
										{%if lista.tipo_periferico == 13 %}<td>Memoria RAM</td>{% endif %}
										{%if lista.tipo_periferico == 14 %}<td>Procesador</td>{% endif %}
										{%if lista.tipo_periferico == 15 %}<td>Gabinete</td>{% endif %}
										<td>{{ lista.marca_periferico }}</td>
										<td class="item-title">{{ lista.descripcion_periferico }}</td>
										<td class="item-price precio">{{ lista.precio_venta_periferico }}</td>
										<td>{{ lista.stock_periferico }}</td>
										<td><button type="button" class = "item-button btn btn-primary addToCart">Carrito</button></td>
										{% endfor %}
									</tr>
								</tbody>
							</table>
						</section>


						<div class="col-12 col-xl-6">
							<div class="card">
								<div class="card-header">
									<section class="shopping-cart">
										<div class="container">
											<h1 class="text-center">CARRITO</h1>
											<hr>
											<div class="row">
												<div class="col-6">
													<div class="shopping-cart-header">
														<h6>Producto</h6>
													</div>
												</div>
												<div class="col-2">
													<div class="shopping-cart-header">
														<h6 class="text-truncate">Precio</h6>
													</div>
												</div>
												<div class="col-4">
													<div class="shopping-cart-header">
														<h6>Cantidad</h6>
													</div>
												</div>
											</div>
											<!-- ? START SHOPPING CART ITEMS -->
											<div class="shopping-cart-items shoppingCartItemsContainer">
											</div>
											<!-- ? END SHOPPING CART ITEMS -->
								
											<!-- START TOTAL -->
											<div class="card-header">
												<div class="col-12">
													<div class="shopping-cart-total d-flex align-items-center">
														<p class="mb-0">Total</p>
														<p class="ml-4 mb-0 shoppingCartTotal" id="total">0 Gs</p>
													</div>
												</div>
											</div>
											<div class="card-header">
												<div class="col-12">
													<div class="shopping-cart-total d-flex align-items-center">
														<p class="mb-0">Total IVA Incl.</p>
														<p class="ml-4 mb-0 shoppingCartTotalIva" id="iva10">0 Gs</p>
														<div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
															<div class="toast-header">
																<span>✅</span>
																<strong class="mr-auto ml-1 text-secondary">Elemento en el carrito</strong>
																<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
															</div>
															<div class="toast-body text-white">
																Se aumentó correctamente la cantidad
															</div>
														</div>
														<button class="btn btn-success ml-auto comprarButton" type="button" data-toggle="modal"
															data-target="#comprarModal" id="btnCargar">Comprar</button>
													</div>
												</div>
											</div>
								
											<!-- END TOTAL -->
								
											<!-- START MODAL COMPRA -->
											<div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
												aria-hidden="true">
												<div class="modal-dialog modal-dialog-centered">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="comprarModalLabel">Gracias por su compra</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															<p>Pronto recibirá su pedido</p>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
														</div>
													</div>
												</div>
											</div>
											<!-- END MODAL COMPRA -->
										</div>
								
									</section>
								</div>
							</div>
				</form>
			</div>
			</form>
		</div>
	</div>
</div>

<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script src="{%static 'js/app.js'%}"></script>
<script src="{%static 'js/jquery.chained.js'%}"></script>
<link href="{%static 'css/select2.css'%}" rel="stylesheet"/>
<script src="{%static 'js/select2.js'%}"></script>
<script src="{%static 'js/popper.min.js'%}"></script>
<script src="{%static 'js/tienda.js'%}"></script>



<script>
    $(document).ready(function() { $("#tipo_periferico").select2(); });
    $(document).ready(function() { $("#tipo_placa_video").select2(); });
    $(document).ready(function() { $("#tipo_fuente").select2(); });
    $(document).ready(function() { $("#tipo_almacenamiento").select2(); });
    $(document).ready(function() { $("#tipo_gabinete").select2(); });
    $(document).ready(function() { $("#tipo_ram").select2(); });
    $(document).ready(function() { $("#tipo_cpu").select2(); });


	 {% if  parameters.mant_actual > 0 %}
        traerProveedor(document.getElementById("ruc_proveedor"))
    {% endif %}

	function formatearFecha(msg) {
		let meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
		let fecha = msg.split(' de ')

		if(fecha[0].length > 1) {
			var dia = fecha[0]
		} else {
			var dia = `0${fecha[0]}`
		}

		var mes = ''

		var anio = fecha[2]

		for(let i = 0; i < meses.length; i++) {
			if(meses[i] == fecha[1]) {
				if(i + 1 < 10) {
				mes = `0${i + 1}`
				} else {
				mes = `${i + 1}`
				}
			}
		}
    
    	return `${anio}-${mes}-${dia}`
	}


    function traerProveedor(event) { //event es el input donde se carga el valor
        var flag = false
        var nCliente = document.getElementById("razon_social_proveedor") //traigo el label que se va a modificar con el nombre del cliente
		var tCliente = document.getElementById("telefono_proveedor")
		var dCliente = document.getElementById("direccion_proveedor")
        var inputCliente = document.getElementById("codigo_proveedor")
		var selectTimbrado = document.getElementById("timbrado")
		var fchTimbrado = document.getElementById("fch_timbrado")
		var id_proveedor = ""

        {% for lista in parameters.listaproveedor %}
        var ruc_proveedor = "{{lista.ruc_proveedor}}"   //se trae cedula del cliente
		id_proveedor = "{{lista.codigo_proveedor}}"

        if (event.value == ruc_proveedor) { //se compara si las cedulas de la base de datos coincide con el del input
            nCliente.innerHTML = "{{lista.razon_social_proveedor}}"   //si coincide se carga el nombre al label
			tCliente.innerHTML = "{{lista.telefono_proveedor}}"
			dCliente.innerHTML = "{{lista.direccion_proveedor}}"
            inputCliente.value = "{{lista.codigo_proveedor}}"
			var id_timbrado = ""
			{% for timbrado in parameters.listatimbrado %}
			id_timbrado = "{{timbrado.codigo_proveedor_id}}"
				if(id_timbrado == id_proveedor) {
					const option = document.createElement('option');
					option.className = "opcion_select"
					option.value = "{{timbrado.nro_timbrado}}";
					option.innerText = "{{timbrado.nro_timbrado}}";
					selectTimbrado.appendChild(option);

				}
			{% endfor %}
            flag = true
			selectTimbrado.addEventListener("change", (evt) => {
				{% for timbrado in parameters.listatimbrado %}
					if("{{timbrado.nro_timbrado}}" == evt.target.value){
						fchTimbrado.value = formatearFecha("{{timbrado.fch_vencimiento_timbrado}}")
					} 
					
				{% endfor %}
			})

        }

        if (!flag) {
            nCliente.innerHTML = "No existe ese cliente"//si coincide se muestra el mensaje en el label
			tCliente.innerHTML = "No existe ese cliente"
			dCliente.innerHTML = "No existe ese cliente"

        }
        {% endfor %}

        if (event.value == '') { //si el input esta vacio el label se vaciara tambien
            nCliente.innerHTML = " "
			tCliente.innerHTML = " "
			dCliente.innerHTML = " "
        }
    }

	//DATOS FACTURA COMPRA DETALLE
	var unidades = document.getElementsByClassName("shoppingCartItem")
	var codigos = document.getElementsByClassName("idDeUnidad")
	var cantidades = document.getElementsByClassName("cantidadDeUnidad")
	var precios = document.getElementsByClassName("precioDeUnidad")

	document.getElementById("btnCargar").addEventListener("click", () => {
		sessionStorage.setItem('1', 1)

		//DATOS FACTURA COMPRA
		var ruc_proveedor = document.getElementById("ruc_proveedor").value
		var timbrado = document.getElementById("timbrado").value
		var nro_factura = document.getElementById("nro_factura").value
		var iva10 = document.getElementById("iva10").innerText.replaceAll(" Gs", "")
		var total = document.getElementById("total").innerText.replaceAll(" Gs", "")
		var id_proveedor = ""

		{% for proveedor in parameters.listaproveedor %}
			if("{{proveedor.ruc_proveedor}}" == ruc_proveedor ) {
				id_proveedor = "{{proveedor.codigo_proveedor}}"
			}
		{% endfor %}

		$.ajax({
			url: "{% url 'compra' %}",
			type: 'POST',
			data:{
				'codigo_proveedor': id_proveedor,
				'timbrado_id': timbrado,
				'nro_factura': nro_factura,
				'condicion': 0,
				'iva10': iva10,
				'total': total,
				'csrfmiddlewaretoken': '{{csrf_token}}'
			},
			success: 
			function(data){

				console.log(unidades.length)
				for(let i=0; i < unidades.length; i++) {
					console.log("HOLA")
					$.ajax({
						url: "{% url 'compra_detalle' %}",
						type: 'POST',
						data:{
							'id_periferico_id': codigos[i].innerText,
							'cantidad': cantidades[i].value,
							'subtotal': parseInt(cantidades[i].value) * parseInt(precios[i].innerText),
							'csrfmiddlewaretoken': '{{csrf_token}}'
						},
						success: 
						function(data){
							console.log("Yuju!")
						}
					})
				}
			}
		})
	})

	function alerta() {
            if (sessionStorage.getItem('1') == 1) {
                Swal.fire({
                    icon: 'success',
                    title: 'Aviso',
                    text: 'Registro guardado existosamente.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {

                })
                sessionStorage.setItem('1', 0)
            }
        }
        window.onload = alerta()

        function formatText(data) {
            data = document.getElementsByClassName(data)
            var value
            for(let i = 0; i < data.length; i++) {
                value = data[i].innerText
                value = parseFloat(value).toLocaleString('es')
                data[i].innerText = value
            }
        }       
        formatText("precio") //formatear numeros
    // $(function() {
    //     $('#tipo_periferico').change(function() {
    //         console.log($(this).val());
    //     }).multipleSelect({
    //         width: '100%',
    //         filter: true
    //     });
    // });
    //$("#ciudad").chained("#departamento")
    // function llenar_ciudades(){
    //     console.log("HOLA");

    //     //SE LIMPIA EL COMBO
    //     $("#ciudad").empty();
        
    //     //RECUPERAR EL EL COMBO CIUDAD
    //     select_ciudad = document.getElementById('ciudad');

    //     //CREAMOS UN OPTION QUE ESTE POR DEFECTO AL INICIO DE LA LISTA
    //     var defecto = document.createElement('option');
    //     defecto.value = 0; //SE ASIGNA UN VALUE AL VALOR POR DEFECTO
    //     defecto.text = ("--SELECCIONE UNA OPCION--"); //SE ASIGNA UN TEXTO AL OPTION
    //     select_ciudad.appendChild(defecto); // ESTA LINEA AÑADE UN OPTION


    //     var id_departamento = document.getElementById('departamento').value; // SE RECUPERA EL VALUE DEL DEPARTAMENTO PARA SABER EL FK
    //     {% for lista in parameters.listaciudad %} //SE RECORREN LAS CIUDADES PARA VERIFICAR SI LA FK COINCIDE CON EL OBTENIDO
    //         aux = {{lista.nombre_departamento_id}} //SE GUARDA EN AUX LA FK DEL DEPARTAMENTO ALMACENADO EN LA CIUDAD
    //         if (id_departamento == aux){ //SI COINCIDEN EL AUX CON EL ID_DEPARTAMENTO OBTENIDO DESDEL EL VALUE DE SELECT DEPARTAMENTO, SE AGREGA UN OPTION
    //             var opt = document.createElement('option');
    //             opt.value = {{lista.codigo_ciudad}};
    //             opt.text = "{{lista.nombre_ciudad}}";
    //             select_ciudad.appendChild(opt);
    //         }
    //     {% endfor %}  
    // }
</script>
</body>
{% endblock %}