{%extends "base.html"%}
{%block barra%}
{%load static%}

<body>
    <style>
        .dataTables_length{
            display: contents;
        }

        .dt-buttons{
            display: contents;
        }
        
    </style>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "language": {
                "emptyTable":     "La tabla se encuentra vacia.",
                "info":           "Mostrando _END_ de _MAX_ registros",
                "infoEmpty":      "",
                "infoFiltered":   "",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ registrosㅤㅤㅤㅤㅤㅤAcciones:",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar: ",
                "zeroRecords":    "No se obtuvo ninguna coincidencia",
                oPaginate: {
                    sNext: '<i class="fa fa-forward"></i>',
                    sPrevious: '<i class="fa fa-backward"></i>',
                    sFirst: '<i class="fa fa-step-backward"></i>',
                    sLast: '<i class="fa fa-step-forward"></i>',
                },
            },
                fixedHeader: true,
                responsive: true,
                dom: 'lBfrtip',
                buttons: [
                    {
	        			extend:    'excelHtml5',
	        			text:      '<i class="fas fa-file-excel"></i> ',
	        			titleAttr: 'Exportar a Excel',
	        			className: 'btn btn-success',
                        title: 'Historial de Ventas - Encar PC',
                        exportOptions: {
                            columns: [ 0, 1, 2, 3, 4 ]
                        },
                    },
	        		{
	        			extend:    'pdfHtml5',
	        			text:      '<i class="fas fa-file-pdf"></i> ',
	        			titleAttr: 'Exportar a PDF',
	        			className: 'btn btn-danger',
                        title: 'Historial de Ventas - Encar PC',
                        exportOptions: {
                            columns: [ 0, 1, 2, 3, 4 ]
                        },
                    },
                    {
	        			extend:    'print',
	        			text:      '<i class="fa fa-print"></i> ',
	        			titleAttr: 'Imprimir',
	        			className: 'btn btn-info',
                        title: 'Historial de Ventas - Encar PC',
                        exportOptions: {
                            columns: [ 0, 1, 2, 3, 4 ]
                        }
	        		},
                ],
            });
        });
    </script>

    <div class="py-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    
                    <div style="display: grid; justify-content: space-between; gap: 1em; grid-template-columns: 1fr 1fr 1fr;">
                        <form>
                            <a class="img-responsive mt-2" onclick="history.back()"><img src="{%static 'img/icons/back.png'%}" width="50" height="50"></a>
                        </form>
                        <h1 class="text-center" style="padding: 0.5em;">Historial de Ventas</h1>
                        
                    </div>
                    <div class="py-4">
                        <div class="col-md-12">
                            <div class="card">
                                <div class ="col-md-6" style= "display:flex; gap: .5em; padding: 1em; justify-items: center;">
                                    <div><span style="padding: 1em;">Filtrar por:</span></div>
                                    <div>
                                        <button class="btn btn-icon btn-info btn-sm" target="_blank" type="button" onclick="filtroImpresion()">
                                            <span class="btn-inner--text">Fecha de Venta</span>
                                        </button>
                                    </div>
                                </div>
                <div class="card-body">
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nro. Factura</th>
                                <th>Cliente</th>
                                <th>RUC</th>
                                <th>Fecha de Venta</th>
                                <th>Total de Factura</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lista in parameters.listaventa %}
                            <tr>
                                <td>{{ lista.nro_factura_venta }}</td>
                                <td>
                                    {%for lista2 in parameters.listacliente%}
                                    {% if lista2.codigo_cliente == lista.codigo_cliente_id%}
                                    {{lista2.nombre_cliente}}
                                    {%endif%}
                                    {%endfor%}
                                </td>
                                <td>
                                    {%for lista1 in parameters.listacliente%}
                                    {% if lista1.codigo_cliente == lista.codigo_cliente_id%}
                                    {{lista1.ruc_cliente}}
                                    {%endif%}
                                    {%endfor%}
                                </td>
                                <td>{{ lista.fch_factura_venta }}</td>
                                <td class = "precio">{{ lista.total_factura_venta }}</td>
                                <td>
                                    <div class="icon-btn">
                                        <a href="{% url 'historial_ventas_detalle' lista.id_factura_venta %}"
                                            class="btn waves-effect waves-light btn-info btn-block"
                                            style="color: white;" data-toggle="tooltip" data-placement="top">Detalle</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="filtroImpresion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ventas</h5>
                <button type="button" onclick="cerrar_modal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" action={% url 'reporte_ventas' %} method="POST">
                    {% csrf_token %}
                    <h6 class="heading-small text-muted mb-4">Filtro por Fecha de Venta</h6>
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <span>Desde:</span>
                                        <input class="form-control" type="date" id="fecha_desde"
                                            lang="es" name="fecha_desde" value="2022-12-01">
                                    </div>
                                    <div class="col">
                                        <span>Hasta:</span>
                                        <input class="form-control" type="date" id="fecha_hasta"
                                            lang="es" name="fecha_hasta" value="2022-12-31">
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <center><button type="submit" class="btn btn-success">Enviar</button></center>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
    <script src="{%static 'js/app.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/Buttons-2.2.2/css/buttons.bootstrap5.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.print.min.js' %}"></script>
    <script>
        function alerta() {
            if (sessionStorage.getItem('1') == 1) {
                Swal.fire({
                    icon: 'success',
                    title: 'Aviso',
                    text: 'Registro guardado existosamente.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                })
                sessionStorage.setItem('1', 0)
            }
        }
        window.onload = alerta()

        function formatText(data) {
            data = document.getElementsByClassName(data)
            var value
            for(let i = 0; i < data.length; i++) {
                value = data[i].innerText
                value = parseFloat(value).toLocaleString('es')
                data[i].innerText = value
            }
        }       
        formatText("precio") //formatear numeros
    </script>
    <script>
        function filtroImpresion(){
            $('#filtroImpresion').modal('show');
        }
        function filtroImpresion2(){
            $('#filtroImpresion2').modal('show');
        }

        function cerrar_modal() {
        	$(document).ready(function () {
            $('#filtroImpresion').modal('hide');
        	});
    	}
    </script>
</body>

</html>


{%endblock%}