{%extends "base.html"%}
{%load static%}
{%block barra%}

<body>
	<body>
	<style>
	.display-4 {
    	font-size: 2rem;
	}
	</style>
	<p id="msjError" style="display: none">
		{% if mensaje %}
			<p class="message-error" hidden>{{mensaje}}</p>
		{% endif %}
	</p>
					<div class="row mb-2 mb-xl-3">
							<h1><strong>Página</strong> de Inicio - <strong> EncarPC</strong></h1>
							<div class="row py-4" style="justify-content: center;">
								<div class="col-lg-4">
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col mt-0">
													<h5 class="card-title">Mantenimientos Finalizados</h5>
												</div>
												<div class="col-auto">
														<div class="stat text-primary">
															<img src="{%static 'img/icons/limpieza.png'%}" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></img>
														</div>
												</div>
											</div>
											<h1 class="mt-1 mb-3" style="justify-content: center; display: flex">{{parameters.contador_mant}}</h1>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col mt-0">
													<h5 class="card-title">Reparaciones Finalizadas</h5>
												</div>
												<div class="col-auto">
													<div class="stat text-primary">
														<img src="{%static 'img/icons/reparacion1.png'%}" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></img>
													</div>
												</div>
											</div>
											<h1 class="mt-1 mb-3" style="justify-content: center; display: flex">{{parameters.contador_rep}}</h1>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col mt-0">
													<h5 class="card-title">Montajes Finalizados</h5>
												</div>
												<div class="col-auto">
													<div class="stat text-primary">
														<img src="{%static 'img/icons/montaje.png'%}" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></img>
													</div>
												</div>
											</div>
											<h1 class="mt-1 mb-3" style="justify-content: center; display: flex">{{parameters.contador_mont}}</h1>
										</div>
									</div>
								</div>
							</div>
							<div>		
								<div class="tab-content">
									<div class="row py-4">
										
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'vermant' %}">
													<div>
														
														<span class="display-4">Mantenimiento</span>
													</div>
													<img class="img-responsive mt-2" width="150" height="150" src="{%static 'img/icons/limpieza.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Listado de Mantenimientos</h6>
													<!-- <ul class="list-unstyled">
														<li class="mb-2">
															1 users
														</li>
														<li class="mb-2">
															5 projects
														</li>
														<li class="mb-2">
															5 GB storage
														</li>
													</ul> -->
												</a>
											</div>
										</div>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'verrep' %}">
													<div>
													
														<span class="display-4">Reparación</span>
													</div>
													<img class="img-responsive mt-2" width="150" height="150" src="{%static 'img/icons/reparacion1.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Listado de Reparaciones</h6>
												</a>
											</div>
										</div>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a href="javascript:mostrar_modal()" class="card-body d-flex flex-column btn btn-lg btn-outline-primary">
													<div>
														
														<span class="display-4">Montaje</span>
													</div>
													<img class="img-responsive mt-2" width="150" height="150" src="{%static 'img/icons/montaje.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Nuevo Montaje</h6>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>
								<div class="tab-content">
										<div class="row py-4">
											<div class="col-sm-4 mb-3 mb-md-0">
												<div class="card text-center h-100">
													<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'ver_productos' %}">
														<div>
															
															<span class="display-4">Productos</span>
														</div>
														<img class="img-responsive mt-2" width="150" height="150" src="{%static 'img/icons/ordenador.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
														<h6>Listado de Productos</h6>
													</a>
												</div>
											</div>
											<div class="col-sm-4 mb-3 mb-md-0">
												<div class="card text-center h-100">
													<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'verrep' %}">
														<div>
															
															<span class="display-4">Compras</span>
														</div>
														<img class="img-responsive mt-2" width="150" height="150" src="{%static 'img/icons/camion.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
														<h6>Listado de Compras</h6>
													</a>
												</div>
											</div>
											<div class="col-sm-4 mb-3 mb-md-0">
												<div class="card text-center h-100">
													<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'venta'%}">
														<div>
															
															<span class="display-4">Ventas</span>
														</div>
														<img class="img-responsive mt-2" width="150" height="150" src="{%static 'img/icons/venta.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
														<h6>Listado de Ventas</h6>
													</a>
													
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-content">
									<div class="row py-4">
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'inventario' %}">
													<div>
														
														<span class="display-4">Inventario</span>
													</div>
													<img class="img-responsive mt-2" width="150" height="150" src="{%static 'img/icons/inventario.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Inventario de Productos</h6>
												</a>
											</div>
										</div>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'vercliente' %}">
													<div>
														
														<span class="display-4">Clientes</span>
													</div>
													<img class="img-responsive mt-2" width="150" height="150" src="{%static 'img/icons/cliente.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Listado de Clientes</h6>
												</a>
											</div>
										</div>
										<div class="col-sm-4 mb-3 mb-md-0">
											<div class="card text-center h-100">
												<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'verusuario' %}">
													<div>
														
														<span class="display-4">Usuarios</span>
													</div>
													<img class="img-responsive mt-2" width="150" height="150" src="{%static 'img/icons/usuario.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
													<h6>Listado de Usuarios Registrados</h6>
												</a>
												
											</div>
										</div>
									</div>
								</div>

						<div class="modal fade" id="modal_placas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Seleccionar Placa Base</h5>
									<button onclick="cerrar_modal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<table id="example" class="table table-striped" style="width:100%">
										<thead>
											<tr>
												<th>Código</th>
												<th>Imagen</th>
												<th>Tamaño</th>
												<th>Marca</th>
												<th>Descripción</th>
												<th>Precio Venta</th>
												<th>Stock</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											{% for lista in parameters.listatabla %}
											<tr>
												<td>{{ lista.cod_placa_base }}</td>
												{% if lista.imagen_placa_base %}
												<td><img src="{{ lista.imagen_placa_base.url }}" width="100" height="100"></td>
												{% endif %}
												<td>
													{%for lista1 in parameters.listagabinete%}
													{% if lista1.id_tipo_gabinete == lista.tipo_gabinete_placa_base_id%}
													{{lista1.desc_tipo_gabinete}}
													{%endif%}
													{%endfor%}
												</td>
												<td>{{ lista.marca_placa_base }}</td>
												<td>{{ lista.descripcion_placa_base }}</td>
												<td>{{ lista.precio_venta_placa_base }}</td>
												<td>{{ lista.stock_placa_base }}</td>
												<td>
													<div class="icon-btn">
														<a href="{% url 'nuevomontaje' lista.id_placa_base 0 %}"
															class="btn waves-effect waves-light btn-info btn-icon"
															style="color: white;" data-toggle="tooltip" data-placement="top" title=""
															data-original-title="Modificar Registro">Seleccionar</a>
													</div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<a href="{% url 'vermontaje' %}" class="btn btn-info btn-round waves-effect waves-light" style="width: 100%;">Listado de Montajes</a>
								</div>
							</div>
						</div>
					</div>
										

	<script src="{%static 'js/app.js'%}"></script>
	<script>
		function mostrar_modal() {
        	$(document).ready(function () {
            $('#modal_placas').modal('show');
        	});
    	}

		function cerrar_modal() {
        	$(document).ready(function () {
            $('#modal_placas').modal('hide');
        	});
    	}
		
        var mensaje = document.getElementsByClassName("message-error")
        setTimeout(showAlert, 200) 
        function showAlert() {
            if(mensaje[0]){
                alert(mensaje[0].innerHTML)
            }
        }
    </script>

</body>

{%endblock%}