{%extends "base.html"%}
{%load static%}
{%block barra%}

<body>
	<p id="msjError" style="display: none">
		{% if mensaje %}
			<p class="message-error" hidden>{{mensaje}}</p>
		{% endif %}
	</p>
					<div class="row mb-2 mb-xl-3">
							<h3><strong>Agenda</strong> Principal</h3>
							<main class="content">
								<div class="container-fluid p-0">
				
											
								</div>
							</main>
					</div>
						
	<script src="{%static 'js/app.js'%}"></script>
	<script>
        var mensaje = document.getElementsByClassName("message-error")
        setTimeout(showAlert, 200) 
        function showAlert() {
            if(mensaje[0]){
                alert(mensaje[0].innerHTML)
            }
        }
    </script>

</body>

{%endblock%}