{%extends "base.html"%}
{%block barra%}
{%load static%}
<body>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                fixedHeader: true
            });
        });
    </script>

<div class="modal fade" id="modal_placas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccione un producto</h5>
                <button onclick="cerrar_modal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="display: flex; justify-content: space-between; ">
                <a href="{% url 'mod_placa_base' 0 %}" class="btn btn-info btn-round waves-effect waves-light">Placa Base</a>
                <a href="{% url 'mod_cpu' 0 %}" class="btn btn-info btn-round waves-effect waves-light">Procesador</a>
                <a href="{% url 'mod_ram' 0 %}" class="btn btn-info btn-round waves-effect waves-light">Memoria RAM</a>
                <a href="{% url 'perifericomod' 0 %}" class="btn btn-info btn-round waves-effect waves-light">Periférico</a>
                <a href="{% url 'mod_gab' 0 %}" class="btn btn-info btn-round waves-effect waves-light">Gabinete</a>
                <a href="{% url 'repuestomod' 0 %}" class="btn btn-info btn-round waves-effect waves-light">Repuestos</a>
            </div>
        </div>
    </div> 
</div>  
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Inventario</h1>
    </div>
    <div class="py-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                      
                    <div class="form-group form-default" style="display: flex; justify-content: space-between; align-items: center;">
                        <h3 style="margin: 0">Lista de Productos</h3><a href="javascript:mostrar_modal()" class="btn btn-success btn-round waves-effect waves-light">Añadir Producto
                        </a>
                    </div>
                    <div class="py-4">
                        <div class="col-md-12">
                            <div class="card">
                <div class="card-body">
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Imagen</th>
                                <th>Tipo</th>
                                <th>Marca</th>
                                <th>Descripción</th>
                                <th>Proveedor</th>
                                <th>Precio Compra</th>
                                <th>Precio Venta</th>
                                <th>Stock</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lista in parameters.listaperiferico %}
                            <tr>
                                <td>{{ lista.cod_periferico }}</td>
                                {% if lista.imagen_periferico != '' %}
                                        <td><img src="{{ lista.imagen_periferico.url }}" width="100" height="100"></td>
                                {% else %}
                                        <td><img src="{% static 'img\photos\producto-sin-imagen.jpg'%}" width="100" height="100"></td>   
                                {% endif %}
                                    {%if lista.tipo_periferico == 1 %}<td>Fuente</td>{% endif %} 
                                    {%if lista.tipo_periferico == 2 %}<td>Gabinete</td>{% endif %}
                                    {%if lista.tipo_periferico == 3 %}<td>Almacenamiento</td>{% endif %}
                                    {%if lista.tipo_periferico == 4 %}<td>Mouse</td>{% endif %}
                                    {%if lista.tipo_periferico == 5 %}<td>Teclado</td>{% endif %} 
                                    {%if lista.tipo_periferico == 6 %}<td>Auriculares</td>{% endif %}
                                    {%if lista.tipo_periferico == 7 %}<td>Monitor</td>{% endif %}
                                    {%if lista.tipo_periferico == 8 %}<td>Placa de Video</td>{% endif %}
                                    {%if lista.tipo_periferico == 9 %}<td>Impresora</td>{% endif %}
                                    {%if lista.tipo_periferico == 10 %}<td>Otros</td>{% endif %}
                                <td>{{ lista.marca_periferico }}</td>
                                <td>{{ lista.descripcion_periferico }}</td>
                                <td>
                                    {%for lista1 in parameters.listaproveedor%}
                                    {% if lista1.codigo_proveedor == lista.nombre_proveedor_id%}
                                    {{lista1.nombre_proveedor}}
                                    {%endif%}
                                    {%endfor%}
                                </td>
                                <td>{{ lista.precio_compra_periferico }}</td>
                                <td>{{ lista.precio_venta_periferico }}</td>
                                <td>{{ lista.stock_periferico }}</td>
                                <td>
                                    <div class="icon-btn">
                                        <a href="{% url 'perifericomod' lista.id_periferico %}"
                                            class="btn waves-effect waves-light btn-warning btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Modificar Registro"><i data-feather="edit"></i></a>
                                        <a href="{% url 'perifericobor' lista.id_periferico %}"
                                            onclick="return confirm('Eliminar el registro?')"
                                            class="btn waves-effect waves-light btn-danger btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Eliminar Registro"><i data-feather="trash-2"></i></a>
                                    </div>
                                </td>
                            {% endfor %}
                            {% for lista in parameters.listarepuesto %}
                            <tr>
                                <td>{{ lista.cod_repuesto }}</td>
                                {% if lista.imagen_repuesto != '' %}
                                        <td><img src="{{ lista.imagen_repuesto.url }}" width="100" height="100"></td>
                                {% else %}
                                        <td><img src="{% static 'img\photos\producto-sin-imagen.jpg'%}" width="100" height="100"></td>   
                                {% endif %}
                                    {%if lista.tipo_repuesto == 1 %}<td>Batería</td>{% endif %} 
                                    {%if lista.tipo_repuesto == 2 %}<td>Cargador</td>{% endif %}
                                    {%if lista.tipo_repuesto == 3 %}<td>Pantalla</td>{% endif %}
                                    {%if lista.tipo_repuesto == 4 %}<td>Teclado</td>{% endif %}
                                    {%if lista.tipo_repuesto == 5 %}<td>Otros</td>{% endif %} 
                                <td>{{ lista.marca_repuesto }}</td>
                                <td>{{ lista.descripcion_repuesto }}</td>
                                <td>
                                    {%for lista1 in parameters.listaproveedor%}
                                    {% if lista1.codigo_proveedor == lista.nombre_proveedor_id%}
                                    {{lista1.nombre_proveedor}}
                                    {%endif%}
                                    {%endfor%}
                                </td>
                                <td>{{ lista.precio_compra_repuesto }}</td>
                                <td>{{ lista.precio_venta_repuesto }}</td>
                                <td>{{ lista.stock_repuesto }}</td>
                                <td>
                                    <div class="icon-btn">
                                        <a href="{% url 'repuestomod' lista.id_repuesto %}"
                                            class="btn waves-effect waves-light btn-warning btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Modificar Registro"><i data-feather="edit"></i></a>
                                        <a href="{% url 'repuestobor' lista.id_repuesto %}"
                                            onclick="return confirm('Eliminar el registro?')"
                                            class="btn waves-effect waves-light btn-danger btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Eliminar Registro"><i data-feather="trash-2"></i></a>
                                    </div>
                                </td>
                            {% endfor %}
                            {% for lista in parameters.listacpu %}
                            <tr>
                                <td>{{ lista.cod_cpu }}</td>
                                {% if lista.imagen_cpu != '' %}
                                        <td><img src="{{ lista.imagen_cpu.url }}" width="100" height="100"></td>
                                {% else %}
                                        <td><img src="{% static 'img\photos\producto-sin-imagen.jpg'%}" width="100" height="100"></td>   
                                {% endif %}
                                <td>Procesador</td>
                                <td>{{ lista.marca_cpu }}</td>
                                <td>{{ lista.descripcion_cpu }}</td>
                                <td>
                                    {%for lista1 in parameters.listaproveedor%}
                                    {% if lista1.codigo_proveedor == lista.nombre_proveedor_id%}
                                    {{lista1.nombre_proveedor}}
                                    {%endif%}
                                    {%endfor%}
                                </td>
                                <td>{{ lista.precio_compra_cpu }}</td>
                                <td>{{ lista.precio_venta_cpu }}</td>
                                <td>{{ lista.stock_cpu }}</td>
                                <td>
                                    <div class="icon-btn">
                                        <a href="{% url 'mod_cpu' lista.id_cpu %}"
                                            class="btn waves-effect waves-light btn-warning btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Modificar Registro"><i data-feather="edit"></i></a>
                                        <a href="{% url 'bor_cpu' lista.id_cpu %}"
                                            onclick="return confirm('Eliminar el registro?')"
                                            class="btn waves-effect waves-light btn-danger btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Eliminar Registro"><i data-feather="trash-2"></i></a>
                                    </div>
                                </td>
                            {% endfor %}
                            {% for lista in parameters.listagabinete %}
                            <tr>
                                <td>{{ lista.cod_gab }}</td>
                                {% if lista.imagen_gab != '' %}
                                        <td><img src="{{ lista.imagen_gab.url }}" width="100" height="100"></td>
                                {% else %}
                                        <td><img src="{% static 'img\photos\producto-sin-imagen.jpg'%}" width="100" height="100"></td>   
                                {% endif %}
                                <td>Gabinete</td>
                                <td>{{ lista.marca_gab }}</td>
                                <td>{{ lista.descripcion_gab }}</td>
                                <td>
                                    {%for lista1 in parameters.listaproveedor%}
                                    {% if lista1.codigo_proveedor == lista.nombre_proveedor_id%}
                                    {{lista1.nombre_proveedor}}
                                    {%endif%}
                                    {%endfor%}
                                </td>
                                <td>{{ lista.precio_compra_gab }}</td>
                                <td>{{ lista.precio_venta_gab }}</td>
                                <td>{{ lista.stock_gab }}</td>
                                <td>
                                    <div class="icon-btn">
                                        <a href="{% url 'mod_gab' lista.id_gab %}"
                                            class="btn waves-effect waves-light btn-warning btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Modificar Registro"><i data-feather="edit"></i></a>
                                        <a href="{% url 'bor_gab' lista.id_gab %}"
                                            onclick="return confirm('Eliminar el registro?')"
                                            class="btn waves-effect waves-light btn-danger btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Eliminar Registro"><i data-feather="trash-2"></i></a>
                                    </div>
                                </td>
                            {% endfor %}
                            {% for lista in parameters.listaplaca %}
                            <tr>
                                <td>{{ lista.cod_placa_base }}</td>
                                {% if lista.imagen_placa_base != '' %}
                                        <td><img src="{{ lista.imagen_placa_base.url }}" width="100" height="100"></td>
                                {% else %}
                                        <td><img src="{% static 'img\photos\producto-sin-imagen.jpg'%}" width="100" height="100"></td>   
                                {% endif %}
                                <td>Placa Base</td>
                                <td>{{ lista.marca_placa_base }}</td>
                                <td>{{ lista.descripcion_placa_base }}</td>
                                <td>
                                    {%for lista2 in parameters.listaproveedor%}
                                    {% if lista2.codigo_proveedor == lista.nombre_proveedor_id%}
                                    {{lista2.nombre_proveedor}}
                                    {%endif%}
                                    {%endfor%}
                                </td>
                                <td>{{ lista.precio_compra_placa_base }}</td>
                                <td>{{ lista.precio_venta_placa_base }}</td>
                                <td>{{ lista.stock_placa_base }}</td>
                                <td>
                                    <div class="icon-btn">
                                        <a href="{% url 'mod_placa_base' lista.id_placa_base %}"
                                            class="btn waves-effect waves-light btn-warning btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Modificar Registro"><i data-feather="edit"></i></a>
                                        <a href="{% url 'bor_placa_base' lista.id_placa_base %}"
                                            onclick="return confirm('Eliminar el registro?')"
                                            class="btn waves-effect waves-light btn-danger btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Eliminar Registro"><i data-feather="trash-2"></i></a>
                                    </div>
                                </td>
                            {% endfor %}
                            {% for lista in parameters.listaram %}
                            <tr>
                                <td>{{ lista.cod_ram }}</td>
                                {% if lista.imagen_ram != '' %}
                                        <td><img src="{{ lista.imagen_ram.url }}" width="100" height="100"></td>
                                {% else %}
                                        <td><img src="{% static 'img\photos\producto-sin-imagen.jpg'%}" width="100" height="100"></td>   
                                {% endif %}
                                <td>Memoria RAM</td>
                                <td>{{ lista.marca_ram }}</td>
                                <td>{{ lista.descripcion_ram }}</td>
                                <td>
                                    {%for lista1 in parameters.listaproveedor%}
                                    {% if lista1.codigo_proveedor == lista.nombre_proveedor_id%}
                                    {{lista1.nombre_proveedor}}
                                    {%endif%}
                                    {%endfor%}
                                </td>
                                <td>{{ lista.precio_compra_ram }}</td>
                                <td>{{ lista.precio_venta_ram }}</td>
                                <td>{{ lista.stock_ram }}</td>
                                <td>
                                    <div class="icon-btn">
                                        <a href="{% url 'mod_ram' lista.id_ram %}"
                                            class="btn waves-effect waves-light btn-warning btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Modificar Registro"><i data-feather="edit"></i></a>
                                        <a href="{% url 'bor_ram' lista.id_ram %}"
                                            onclick="return confirm('Eliminar el registro?')"
                                            class="btn waves-effect waves-light btn-danger btn-icon"
                                            style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                            data-original-title="Eliminar Registro"><i data-feather="trash-2"></i></a>
                                    </div>
                                </td>
                            {% endfor %}
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Código</th>
                                <th>Imagen</th>
                                <th>Tipo</th>
                                <th>Marca</th>
                                <th>Descripción</th>
                                <th>Proveedor</th>
                                <th>Precio Compra</th>
                                <th>Precio Venta</th>
                                <th>Stock</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <script src="{%static 'js/app.js'%}"></script>
    <script>
        function mostrar_modal() {
        	$(document).ready(function () {
            $('#modal_placas').modal('show');
        	});
    	}

		function cerrar_modal() {
        	$(document).ready(function () {
            $('#modal_placas').modal('hide');
        	});
    	}
		    
        
        function alerta() {
            if (sessionStorage.getItem('1') == 1) {
                Swal.fire({
                    icon: 'success',
                    title: 'Aviso',
                    text: 'Registro guardado existosamente.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                })
                sessionStorage.setItem('1', 0)
            }
        }
        window.onload = alerta()
    </script>
</body>

</html>


{%endblock%}