{%extends "base.html"%}
{%load static%}
{%block barra%}

<body>
	<style>
	.display-4 {
    	font-size: 2.48rem;
	}
	</style>
	<p id="msjError" style="display: none">
		{% if mensaje %}
			<p class="message-error" hidden>{{mensaje}}</p>
		{% endif %}
	</p>
					<div class="row mb-2 mb-xl-3">
							<h3><strong>Área</strong> de Producción</h3>
							<div>
								<div class="col-md-10 col-xl-8 mx-auto">
									<h1 class="text-center">Servicios</h1>
									<p class="lead text-center mb-4">Seleccione una opción</p>
		
									<!-- <div class="row justify-content-center mt-3 mb-2">
										<div class="col-auto">
											<nav class="nav btn-group">
												<a href="#monthly" class="btn btn-outline-primary active" data-bs-toggle="tab">Monthly billing</a>
												<a href="#annual" class="btn btn-outline-primary" data-bs-toggle="tab">Annual billing</a>
											</nav>
										</div>
									</div> -->
		
									<div class="tab-content">
											<div class="row py-4">
												<div class="col-sm-4 mb-3 mb-md-0">
													<div class="card text-center h-100">
														<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'vermant' %}">
															<div>
																<br></br>
																<span class="display-4">Mantenimiento</span>
															</div>
															<img class="img-responsive mt-2" width="200" height="200" src="{%static 'img/icons/limpieza.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
															<!-- <h6>Includes:</h6> -->
															<!-- <ul class="list-unstyled">
																<li class="mb-2">
																	1 users
																</li>
																<li class="mb-2">
																	5 projects
																</li>
																<li class="mb-2">
																	5 GB storage
																</li>
															</ul> -->
														</a>
													</div>
												</div>
												<div class="col-sm-4 mb-3 mb-md-0">
													<div class="card text-center h-100">
														<a class="card-body d-flex flex-column btn btn-lg btn-outline-primary" href="{%url 'verrep' %}">
															<div>
																<br></br>
																<span class="display-4">Reparación</span>
															</div>
															<img class="img-responsive mt-2" width="200" height="200" src="{%static 'img/icons/reparacion1.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
														</a>
													</div>
												</div>
												<div class="col-sm-4 mb-3 mb-md-0">
													<div class="card text-center h-100">
														<a href="javascript:mostrar_modal()" class="card-body d-flex flex-column btn btn-lg btn-outline-primary">
															<div>
																<br></br>
																<span class="display-4">Montaje</span>
															</div>
															<img class="img-responsive mt-2" width="200" height="200" src="{%static 'img/icons/montaje.png'%}" style="align-content: center; display: flex; margin: auto;"></img>
														</a>
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>

						<div class="modal fade" id="modal_placas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Seleccionar Placa Base</h5>
									<button onclick="cerrar_modal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<table id="example" class="table table-striped" style="width:100%">
										<thead>
											<tr>
												<th>Código</th>
												<th>Imagen</th>
												<th>Tamaño</th>
												<th>Marca</th>
												<th>Descripción</th>
												<th>Precio Venta</th>
												<th>Stock</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											{% for lista in parameters.listatabla %}
											<tr>
												<td>{{ lista.cod_placa_base }}</td>
												{% if lista.imagen_placa_base %}
												<td><img src="{{ lista.imagen_placa_base.url }}" width="100" height="100"></td>
												{% endif %}
												<td>
													{%for lista1 in parameters.listagabinete%}
													{% if lista1.id_tipo_gabinete == lista.tipo_gabinete_placa_base_id%}
													{{lista1.desc_tipo_gabinete}}
													{%endif%}
													{%endfor%}
												</td>
												<td>{{ lista.marca_placa_base }}</td>
												<td>{{ lista.descripcion_placa_base }}</td>
												<td>{{ lista.precio_venta_placa_base }}</td>
												<td>{{ lista.stock_placa_base }}</td>
												<td>
													<div class="icon-btn">
														<a href="{% url 'nuevomontaje' lista.id_placa_base %}"
															class="btn waves-effect waves-light btn-info btn-icon"
															style="color: white;" data-toggle="tooltip" data-placement="top" title=""
															data-original-title="Modificar Registro">Seleccionar</a>
													</div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
										<tfoot>
											<tr>
												<th>Código</th>
												<th>Imagen</th>
												<th>Tamaño</th>
												<th>Marca</th>
												<th>Descripción</th>
												<th>Precio Venta</th>
												<th>Stock</th>
												<th>Acciones</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
										

	<script src="{%static 'js/app.js'%}"></script>
	<script>
		function mostrar_modal() {
        	$(document).ready(function () {
            $('#modal_placas').modal('show');
        	});
    	}

		function cerrar_modal() {
        	$(document).ready(function () {
            $('#modal_placas').modal('hide');
        	});
    	}
		
        var mensaje = document.getElementsByClassName("message-error")
        setTimeout(showAlert, 200) 
        function showAlert() {
            if(mensaje[0]){
                alert(mensaje[0].innerHTML)
            }
        }
    </script>

</body>

{%endblock%}