{% extends "base.html" %}
{% load static %}

{% block barra %}
<style>
    .card-header {
        background: #f2f2f2;
    }

    .card-block {
        height: 40em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f2f2f2;
    }

    .form-material {
        display: flex;
        margin: 1em;
        height: 100%;
        width: 65%;
        gap: 1em;
        flex-direction: column;
        background: #f2f2f2;
    }

    .input-confirmar {
        display: grid;
        align-items: center;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
        padding: 1em;
    }

    .input-estado {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 100%;
        height: auto;
        grid-gap: 2em;
        justify-content: center;
        padding: 1em;
    }

    .caja-botones{
        display: flex;
        justify-content: flex-end;
        gap: 0.5em;
        padding: 1em;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
    }
    
    .titulo{
        margin-top: 1em;
    }

</style>
<div class="contenedor">
    <div class="titulo">
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1em;">
            <form>
                <a class="img-responsive mt-2" onclick="history.back()"><img src="{%static 'img/icons/back.png'%}" width="50" height="50"></a>
            </form>
            <h1>{{parameters.titulo_f}} - {{parameters.datosplaca.descripcion_placa_base}}</h1>
        </div>
    </div>
    <div>
            <div>
                <img src="{{parameters.datosplaca.imagen_placa_base.url}}" alt="" style= "width: 300px; height: 300px; align-items: center;">
                
            </div>
        </div>
        <form class="form-material" style="margin: 1em;border-radius: 10px;" enctype="multipart/form-data""
            style="margin: 1em">
            {% csrf_token %}
            <input type="number" name="placa_base_actual" id="placa_base_actual" value="{{parameters.datosplaca.id_placa_base}}" style="display: none;" >
            <div class="input-confirmar" style="grid-template-columns: 1fr;">
                <div class="input-confirmar" style="grid-template-columns: 1fr 1fr;">
                    <div class="form-group form-default">
                    <label class="float-label">Procesadores Compatibles</label>
                    <select class="form-select mb-3" name="tipo_cpu" id="tipo_cpu" disabled>
                        <option value=0>--SELECCIONE UNA OPCION--</option>
                        {% for lista in parameters.listacpu %}
                        <option value="{{lista.id_cpu}}" {% if lista.id_cpu == parameters.datos_act.tipo_cpu_id%} selected {% endif %}>
                            {{lista.descripcion_cpu}}
                        </option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="form-group form-default">
                        <label class="float-label">Memorias RAM Compatibles</label>
                        <select class="form-select mb-3" name="tipo_ram" id="tipo_ram" disabled>
                            <option value=0>--SELECCIONE UNA OPCION--</option>
                            {% for lista in parameters.listaram %}
                            <option value="{{lista.id_ram}}" {% if lista.id_ram == parameters.datos_act.tipo_ram_id%} selected {% endif %}>
                                {{lista.descripcion_ram}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="input-confirmar" style="grid-template-columns: 1fr 1fr;">
                    <div class="form-group form-default">
                        <label class="float-label">Gabinetes Compatibles</label>
                        <select class="form-select mb-3" name="tipo_gabinete" id="tipo_gabinete" disabled>
                            <option value=0>--SELECCIONE UNA OPCION--</option>
                            {% for lista in parameters.listagabinete %}
                            <option value="{{lista.id_gab}}" {% if lista.id_gab  == parameters.datos_act.tipo_gabinete_id%} selected {% endif %}>
                                {{lista.descripcion_gab}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group form-default">
                        <label class="float-label">Placa de Video</label>
                        <select class="form-select mb-3" name="tipo_placa_video" id="tipo_placa_video" disabled>
                            <option value=0>--SELECCIONE UNA OPCION--</option>
                            {% for lista in parameters.listaperiferico %}
                            {% if lista.tipo_periferico == 8 %}
                            <option value="{{lista.id_periferico}}" {% if lista.id_periferico == parameters.datos_act.tipo_placa_video%} selected {% endif %}>
                                {{lista.descripcion_periferico}}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="input-confirmar" style="grid-template-columns: 1fr 1fr;">
                    <div class="form-group form-default">
                        <label class="float-label">Fuente de Poder</label>
                        <select class="form-select mb-3" name="tipo_fuente" id="tipo_fuente" disabled>
                            <option value=0>--SELECCIONE UNA OPCION--</option>
                            {% for lista in parameters.listaperiferico %}
                            {% if lista.tipo_periferico == 1 %}
                            <option value="{{lista.id_periferico}}" {% if lista.id_periferico == parameters.datos_act.tipo_fuente%} selected {% endif %}>
                                {{lista.descripcion_periferico}}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group form-default">
                        <label class="float-label">Almacenamiento</label>
                        <select class="form-select mb-3" name="tipo_almacenamiento" id="tipo_almacenamiento" disabled>
                            <option value=0>--SELECCIONE UNA OPCION--</option>
                            {% for lista in parameters.listaperiferico %}
                            {% if lista.tipo_periferico == 3 %}
                            <option value="{{lista.id_periferico}}" {% if lista.id_periferico == parameters.datos_act.tipo_almacenamiento%} selected {% endif %}>
                                {{lista.descripcion_periferico}}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-confirmar" style="grid-template-columns: 1fr;">
                <div class="input-confirmar" style="grid-template-columns: 1fr;">
                    <div class="form-group form-default">
                        <label class="float-label">Periferico</label>
                        <select class="form-select mb-3" name="tipo_periferico" id="tipo_periferico" disabled>
                            <option value=0>--SELECCIONE UNA OPCION--</option>
                            {% for lista in parameters.listaperiferico %}
                            {% if lista.tipo_periferico != 8 and lista.tipo_periferico != 1 and lista.tipo_periferico != 3 and lista.tipo_periferico != 11 and lista.tipo_periferico != 12 and lista.tipo_periferico != 13 and lista.tipo_periferico != 14 and lista.tipo_periferico != 15 %}
                            <option value="{{lista.id_periferico}}" {% if lista.id_periferico == parameters.datos_act.id_periferico_id%} selected {% endif %}>
                                {{lista.descripcion_periferico}}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="input-confirmar" style="grid-template-columns: 1fr 1fr;">
                    <div>
                        <label class="float-label">CI o RUC de Cliente</label>
                        <span class="form-bar"></span>
                        <input class="form-control mb-3" type="text" name="ruc_cliente" id="ruc_cliente" disabled
                        {% for cliente in parameters.listacliente %}
                        {% if cliente.codigo_cliente == parameters.datos_act.nombre_cliente_id %} 
                        value="{{cliente.ruc_cliente}}" 
                        {% endif %}
                        {% endfor %} 
                        onfocusout="traerCliente(this)" onload="traerCliente(this)" required>
                    </div>
                    <div>
                        <label class="float-label">Nombre del Cliente</label>
                        <label class="form-control mb-3" id="nombre_cliente" disabled> </label>
                        <input type="text" style="display: none;" id="id_cliente" name="id_cliente">
                    </div>
                </div>
                <div class="input-confirmar" style="grid-template-columns: 1fr 1fr;">
                    <div class="form-group form-default">
                        <label class="float-label">Empleado</label>
                        <select class="form-select mb-3" name="empleado" id="empleado" disabled>
                            <option value=0>--SELECCIONE UNA OPCION--</option>
                            {% for lista in parameters.listausuario %}
                            <option value="{{lista.id_usuario}}" {% if lista.id_usuario == parameters.datos_act.nombre_completo_usuario_id%} selected {% endif %}>
                                {{lista.nombre_completo_usuario}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <div class="form-group form-default mb-3">
                        <label class="float-label">Horas Trabajadas</label>
                        <span class="form-bar"></span>
                        <input type="number" name="horas_mont" class="form-control" required disabled
                            value="{{parameters.datos_act.horas_mont}}">
                    </div>
                </div>
                
                <div class="input-confirmar" style="grid-template-columns: 1fr 1fr;">
                    <div class="form-group form-default mb-3">
                        <label class="float-label">Fecha de Inicio</label>
                        <span class="form-bar"></span>
                        <input type="date" name="inicio_mont" class="form-control" required {% if parameters.datos_act %} value="{{parameters.datos_act.inicio_mont}}" {% else %} value = "{{parameters.fecha_act}}" {% endif %} disabled>
                    </div>
                
                    <div class="form-group form-default mb-3">
                        <label class="float-label">Fecha de Finalización</label>
                        <span class="form-bar"></span>
                        <input type="date" name="fin_mont" class="form-control" required disabled
                            value="{{parameters.datos_act.fin_mont}}">
                    </div>
                </div>
    
                <div class="input-estado">
                    <div class="form-group form-default">
                        <label class="float-label">Actividades</label>
                        <span class="form-bar"></span>
                        <input type="text" name="actividades_mont" class="form-control mb-3" required disabled
                            value="{{parameters.datos_act.actividades_mont}}">
                    </div>
                    
                    <fieldset class="mb-3">
                        <div class="row">
                            <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Estado</label>
                            <div class="col-sm-10">
                                <label class="form-check">
                                    <input name="estado_mont" type="radio" required class="form-check-input" value=1 id="opcion_select" {% if parameters.datos_act.estado_mont == 1 %} checked {% endif %} disabled>
                                    <span class="form-check-label">Recepcionado</span>
                                </label>
                                <label class="form-check">
                                    <input name="estado_mont" type="radio" required class="form-check-input" value=2 id="opcion_select" {% if parameters.datos_act.estado_mont == 2 %} checked {% endif %} disabled>
                                    <span class="form-check-label">En proceso</span>
                                </label>
                                <label class="form-check">
                                    <input name="estado_mont" type="radio" class="form-check-input" value=3 id="opcion_select" {% if parameters.datos_act.estado_mont == 3 %} checked {% endif %} disabled>
                                    <span class="form-check-label">Terminado</span>
                                </label>
                            </div>
                        </div>
                    </fieldset>    
                </div>
                <div class="form-group form-default caja-botones">
                    <a href="{% url 'vermontaje' %}" class="btn btn-info btn-round waves-effect waves-light">Cancelar</a>
                </div>
            </div>
            
        </form>
    </div>
</div>

<script src="{%static 'js/app.js'%}"></script>
<script src="{%static 'js/jquery.chained.js'%}"></script>
<link href="{%static 'css/select2.css'%}" rel="stylesheet"/>
<script src="{%static 'js/select2.js'%}"></script>

<script>
    
    $(document).ready(function() { $("#tipo_periferico").select2(); });
    $(document).ready(function() { $("#tipo_placa_video").select2(); });
    $(document).ready(function() { $("#tipo_fuente").select2(); });
    $(document).ready(function() { $("#tipo_almacenamiento").select2(); });
    $(document).ready(function() { $("#tipo_gabinete").select2(); });
    $(document).ready(function() { $("#tipo_ram").select2(); });
    $(document).ready(function() { $("#tipo_cpu").select2(); });
    // $(function() {
    //     $('#tipo_periferico').change(function() {
    //         console.log($(this).val());
    //     }).multipleSelect({
    //         width: '100%',
    //         filter: true
    //     });
    // });
    //$("#ciudad").chained("#departamento")
    // function llenar_ciudades(){
    //     console.log("HOLA");

    //     //SE LIMPIA EL COMBO
    //     $("#ciudad").empty();
        
    //     //RECUPERAR EL EL COMBO CIUDAD
    //     select_ciudad = document.getElementById('ciudad');

    //     //CREAMOS UN OPTION QUE ESTE POR DEFECTO AL INICIO DE LA LISTA
    //     var defecto = document.createElement('option');
    //     defecto.value = 0; //SE ASIGNA UN VALUE AL VALOR POR DEFECTO
    //     defecto.text = ("--SELECCIONE UNA OPCION--"); //SE ASIGNA UN TEXTO AL OPTION
    //     select_ciudad.appendChild(defecto); // ESTA LINEA AÑADE UN OPTION


    //     var id_departamento = document.getElementById('departamento').value; // SE RECUPERA EL VALUE DEL DEPARTAMENTO PARA SABER EL FK
    //     {% for lista in parameters.listaciudad %} //SE RECORREN LAS CIUDADES PARA VERIFICAR SI LA FK COINCIDE CON EL OBTENIDO
    //         aux = {{lista.nombre_departamento_id}} //SE GUARDA EN AUX LA FK DEL DEPARTAMENTO ALMACENADO EN LA CIUDAD
    //         if (id_departamento == aux){ //SI COINCIDEN EL AUX CON EL ID_DEPARTAMENTO OBTENIDO DESDEL EL VALUE DE SELECT DEPARTAMENTO, SE AGREGA UN OPTION
    //             var opt = document.createElement('option');
    //             opt.value = {{lista.codigo_ciudad}};
    //             opt.text = "{{lista.nombre_ciudad}}";
    //             select_ciudad.appendChild(opt);
    //         }
    //     {% endfor %}  
    // }
</script>
<script>

    {% if  parameters.mant_actual > 0 %}
    traerCliente(document.getElementById("ruc_cliente"))
    {% endif %}


    function traerCliente(event) { //event es el input donde se carga el valor
        var flag = false
        var nCliente = document.getElementById("nombre_cliente") //traigo el label que se va a modificar con el nombre del cliente
        var inputCliente = document.getElementById("id_cliente")
        {% for lista in parameters.listacliente %}
        var ruc_cliente = "{{lista.ruc_cliente}}"   //se trae cedula del cliente

        if (event.value == ruc_cliente) { //se compara si las cedulas de la base de datos coincide con el del input
            nCliente.innerHTML = "{{lista.nombre_cliente}}"   //si coincide se carga el nombre al label
            inputCliente.value = "{{lista.codigo_cliente}}"
            flag = true
        }

        if (!flag) {
            nCliente.innerHTML = "No existe ese cliente"//si coincide se muestra el mensaje en el label
        }
        {% endfor %}

        if (event.value == '') { //si el input esta vacio el label se vaciara tambien
            nCliente.innerHTML = " "
        }
    }

    window.onload = traerCliente(document.getElementById("ruc_cliente"))
</script>

{% endblock %}