{% extends "base.html" %}
{% load static %}

{% block barra %}
<style>
    .card-header {
        background: #f2f2f2;
    }

    .card-block {
        height: 40em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f2f2f2;
    }

    .form-material {
        display: flex;
        margin: 1em;
        height: 100%;
        width: 65%;
        gap: 2em;
        flex-direction: column;
        background: #f2f2f2;
    }

    .input-confirmar {
        display: grid;
        align-items: center;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }

    .input-estado {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 100%;
        height: auto;
        grid-gap: 2em;
        justify-content: center;
    }

    .caja-botones{
        display: flex;
        justify-content: flex-end;
        gap: 0.5em;
    }
</style>
<div class="card">
    <div class="card-header">
        <h3>{{parameters.titulo_f}}</h3>
    </div>
    <div class="card-block">
        <form class="form-material" action="{% url 'modmant' parameters.mant_actual %}" method="POST" onsubmit="sessionStorage.setItem('1', 1);"
            style="margin: 1em">
            {% csrf_token %}
            <div class="input-confirmar" style="grid-template-columns: 1fr 1fr;">
                <div class="form-group form-default">
                    <label class="float-label">Equipo</label>
                    <span class="form-bar"></span>
                    <select class="form-select mb-3" name="equipo_mant" id="equipo_mant" required>
                        <option value=0>--SELECCIONE UNA OPCION--</option>
                        <option value="1" id="opcion_select" {% if parameters.datos_act.equipo_mant == 1 %} selected {% endif %}>PC</option>
                        <option value="2" id="opcion_select" {% if parameters.datos_act.equipo_mant == 2 %} selected {% endif %}>Notebook</option>
                        <option value="3" id="opcion_select" {% if parameters.datos_act.equipo_mant == 3 %} selected {% endif %}>Consola</option>
                        <option value="4" id="opcion_select" {% if parameters.datos_act.equipo_mant == 4 %} selected {% endif %}>Periférico</option>
                    </select>
                </div>
            
                <div class="form-group form-default">
                    <label class="float-label">Descripción del Equipo</label>
                    <span class="form-bar"></span>
                    <input type="text" name="desc_equipo_mant" class="form-control mb-3" required
                        value="{{parameters.datos_act.desc_equipo_mant}}">
                </div>

            </div>
            <div class="input-confirmar" style="grid-template-columns: 1fr 1fr;">
                <div>
                    <label class="float-label">CI o RUC de Cliente</label>
                    <span class="form-bar"></span>
                    <input class="form-control mb-3" type="text" name="ruc_cliente" id="ruc_cliente" 
                    {% for cliente in parameters.listacliente %}
                     {% if cliente.codigo_cliente == parameters.datos_act.nombre_cliente_id %} 
                     value="{{cliente.ruc_cliente}}" 
                     {% endif %}
                     {% endfor %} 
                     onfocusout="traerCliente(this)" required>
                </div>

                <div>
                    <label class="float-label">Nombre del Cliente</label>
                    <label class="form-control mb-3" id="nombre_cliente"> </label>
                    <input type="text" style="display: none;" id="id_cliente" name="id_cliente">
                </div>
            </div>

            <div class="input-confirmar" style="grid-template-columns: 1fr 1fr;">
                <div class="form-group form-default">
                    <label class="float-label">Empleado</label>
                    <select class="form-select mb-3" name="empleado" id="empleado">
                        <option value=0>--SELECCIONE UNA OPCION--</option>
                        {% for lista in parameters.listausuario %}
                        <option value="{{lista.id_usuario}}" {% if lista.id_usuario == parameters.datos_act.nombre_completo_usuario_id%} selected {% endif %}>
                            {{lista.nombre_completo_usuario}}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group form-default mb-3">
                    <label class="float-label">Horas Trabajadas</label>
                    <span class="form-bar"></span>
                    <input type="number" name="horas_mant" class="form-control" required 
                        value="{{parameters.datos_act.horas_mant}}">
                </div>
            </div>
            
            <div class="input-confirmar" style="grid-template-columns: 1fr 1fr;">
                <div class="form-group form-default mb-3">
                    <label class="float-label">Fecha de Inicio</label>
                    <span class="form-bar"></span>
                    <input type="date" name="inicio_mant" class="form-control" required 
                        value="{{parameters.datos_act.inicio_mant}}">
                </div>
            
                <div class="form-group form-default mb-3">
                    <label class="float-label">Fecha de Finalización</label>
                    <span class="form-bar"></span>
                    <input type="date" name="fin_mant" class="form-control" required
                        value="{{parameters.datos_act.fin_mant}}">
                </div>
            </div>

            <div class="input-estado">
                <div class="form-group form-default">
                    <label class="float-label">Actividades</label>
                    <span class="form-bar"></span>
                    <input type="text" name="actividades_mant" class="form-control mb-3" required
                        value="{{parameters.datos_act.actividades_mant}}">
                </div>
                
                <fieldset class="mb-3">
                    <div class="row">
                        <label class="col-form-label col-sm-2 text-sm-end pt-sm-0">Estado</label>
                        <div class="col-sm-10">
                            <label class="form-check">
                                <input name="estado_mant" type="radio" required class="form-check-input" value=1 id="opcion_select" {% if parameters.datos_act.estado_mant == 1 %} checked {% endif %}>
                                <span class="form-check-label">Recepcionado</span>
                            </label>
                            <label class="form-check">
                                <input name="estado_mant" type="radio" required class="form-check-input" value=2 id="opcion_select" {% if parameters.datos_act.estado_mant == 2 %} checked {% endif %}>
                                <span class="form-check-label">En proceso</span>
                            </label>
                            <label class="form-check">
                                <input name="estado_mant" type="radio" class="form-check-input" value=3 id="opcion_select" {% if parameters.datos_act.estado_mant == 3 %} checked {% endif %}>
                                <span class="form-check-label">Terminado</span>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="form-group form-default caja-botones">
                <button type="submit" class="btn btn-success btn-round waves-effect waves-light"
                    onclick="return confirm('Estás seguro de añadir este Mantenimiento?')">Grabar</button>
                <a href="{% url 'vermant' %}" class="btn btn-info btn-round waves-effect waves-light">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<script src="{%static 'js/app.js'%}"></script>
<script src="{%static 'js/jquery.chained.js'%}"></script>

<script>
    //$("#ciudad").chained("#departamento")
    // function llenar_ciudades(){
    //     console.log("HOLA");

    //     //SE LIMPIA EL COMBO
    //     $("#ciudad").empty();
        
    //     //RECUPERAR EL EL COMBO CIUDAD
    //     select_ciudad = document.getElementById('ciudad');

    //     //CREAMOS UN OPTION QUE ESTE POR DEFECTO AL INICIO DE LA LISTA
    //     var defecto = document.createElement('option');
    //     defecto.value = 0; //SE ASIGNA UN VALUE AL VALOR POR DEFECTO
    //     defecto.text = ("--SELECCIONE UNA OPCION--"); //SE ASIGNA UN TEXTO AL OPTION
    //     select_ciudad.appendChild(defecto); // ESTA LINEA AÑADE UN OPTION


    //     var id_departamento = document.getElementById('departamento').value; // SE RECUPERA EL VALUE DEL DEPARTAMENTO PARA SABER EL FK
    //     {% for lista in parameters.listaciudad %} //SE RECORREN LAS CIUDADES PARA VERIFICAR SI LA FK COINCIDE CON EL OBTENIDO
    //         aux = {{lista.nombre_departamento_id}} //SE GUARDA EN AUX LA FK DEL DEPARTAMENTO ALMACENADO EN LA CIUDAD
    //         if (id_departamento == aux){ //SI COINCIDEN EL AUX CON EL ID_DEPARTAMENTO OBTENIDO DESDEL EL VALUE DE SELECT DEPARTAMENTO, SE AGREGA UN OPTION
    //             var opt = document.createElement('option');
    //             opt.value = {{lista.codigo_ciudad}};
    //             opt.text = "{{lista.nombre_ciudad}}";
    //             select_ciudad.appendChild(opt);
    //         }
    //     {% endfor %}  
    // }
</script>
<script>
  var inputFecha = "inicio_mant"  //COLOCAR ID DEL INPUT DE FECHA
  window.onload = completarHoraInicio(document.getElementById(inputFecha))

  function completarHoraInicio(event){
      var fecha = new Date(); //Fecha actual
      var mes = fecha.getMonth()+1; //obteniendo mes
      var dia = fecha.getDate(); //obteniendo dia
      var ano = fecha.getFullYear(); //obteniendo año
      if(dia<10)
        dia='0'+dia; //agrega cero si el menor de 10
      if(mes<10)
        mes='0'+mes //agrega cero si el menor de 10
      event.value=ano+"/"+mes+"/"+dia;
    }


    {% if  parameters.mant_actual > 0 %}
        traerCliente(document.getElementById("ruc_cliente"))
    {% endif %}


    function traerCliente(event) { //event es el input donde se carga el valor
        var flag = false
        var nCliente = document.getElementById("nombre_cliente") //traigo el label que se va a modificar con el nombre del cliente
        var inputCliente = document.getElementById("id_cliente")
        {% for lista in parameters.listacliente %}
        var ruc_cliente = "{{lista.ruc_cliente}}"   //se trae cedula del cliente

        if (event.value == ruc_cliente) { //se compara si las cedulas de la base de datos coincide con el del input
            nCliente.innerHTML = "{{lista.nombre_cliente}}"   //si coincide se carga el nombre al label
            inputCliente.value = "{{lista.codigo_cliente}}"
            flag = true
        }

        if (!flag) {
            nCliente.innerHTML = "No existe ese cliente"//si coincide se muestra el mensaje en el label
        }
        {% endfor %}

        if (event.value == '') { //si el input esta vacio el label se vaciara tambien
            nCliente.innerHTML = " "
        }
    }
</script>

{% endblock %}