{% extends "base.html" %}
{% load static %}

{% block barra %}

<body>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                fixedHeader: true
            });
        });
    </script>

    <div class="col-md-3 col-xl-2">
    </div>
    <div class="card">
        <div class="card-header">
            
            <div class="form-group form-default" style="display: flex; justify-content: space-between; align-items: center;">
                <h3 style="margin: 0">Lista de Reparaciones</h3><a href="{% url 'modrep' 0 %}"><button class="btn btn-success btn-round waves-effect waves-light">Nueva Reparación</button></a>
            </div>
            <div class="py-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="example" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Equipo</th>
                                        <th>Descripción</th>
                                        <th>Cliente</th>
                                        <th>Empleado</th>
                                        <th>Inicio</th>
                                        <th>Fin</th>
                                        <th>Horas</th>
                                        <th>Actividades</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lista in parameters.listatabla %}
                                    <tr>
                                            {%if lista.equipo_rep == 1 %}<td>PC</td>{% endif %} 
                                            {%if lista.equipo_rep == 2 %}<td>Notebook</td>{% endif %}
                                            {%if lista.equipo_rep == 3 %}<td>Consola</td>{% endif %}
                                            {%if lista.equipo_rep == 4 %}<td>Periferico</td>{% endif %}
                                            {%if lista.equipo_rep == 5 %}<td>Otros</td>{% endif %}
                                        <td>{{ lista.equipo_rep }}</td>
                                        <td>
                                            <!-- {%for lista1 in parameters.listacliente%}
                                            {% if lista1.codigo_cliente == lista.nombre_cliente_id%}
                                            {{lista1.nombre_cliente}}
                                            {%endif%}
                                            {%endfor%} -->
                                        </td>
                                        <td>
                                            {%for lista2 in parameters.listausuario%}
                                            {% if lista2.id_usuario == lista.nombre_completo_usuario_id%}
                                            {{lista2.nombre_completo_usuario}}
                                            {%endif%}
                                            {%endfor%}
                                        </td>
                                        <td>{{ lista.inicio_rep }}</td>
                                        <td>{{ lista.fin_rep }}</td>
                                        <td>{{ lista.horas_rep }}</td>
                                        <td>{{ lista.actividades_rep }}</td>
                                            {%if lista.estado_rep == 1 %}<td><span class="badge bg-danger">Recibido</span></td>{% endif %} 
                                            {%if lista.estado_rep == 2 %}<td><span class="badge bg-warning">En proceso</span></td>{% endif %}
                                            {%if lista.estado_rep == 3 %}<td><span class="badge bg-success">Terminado</span></td>{% endif %}
                                        <td>
                                            <div class="icon-btn">
                                                <a href="{% url 'modrep' lista.codigo_rep %}"
                                                    class="btn waves-effect waves-light btn-warning btn-icon"
                                                    style="color: white;" data-toggle="tooltip" data-placement="top"
                                                    title="" data-original-title="Modificar Registro"><i
                                                        data-feather="edit"></i></a>
                                                <a href="{% url 'borrep' lista.codigo_rep %}"
                                                    onclick="return confirm('Eliminar el registro?')"
                                                    class="btn waves-effect waves-light btn-danger btn-icon"
                                                    style="color: white;" data-toggle="tooltip" data-placement="top"
                                                    title="" data-original-title="Eliminar Registro"><i
                                                        data-feather="trash-2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{%static 'js/app.js'%}"></script>
    <script>
        function alerta() {
            if (sessionStorage.getItem('1') == 1) {
                Swal.fire({
                    icon: 'success',
                    title: 'Aviso',
                    text: 'Registro guardado existosamente.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                })
                sessionStorage.setItem('1', 0)
            }
        }
        window.onload = alerta()
    </script>
    </main>


    {% endblock %}