{% extends "index.html" %}

{% block formularios %}

{% load static %}

<div class="header pb-9 d-flex align-items-center" style="min-height: 350px; background-image: url({% static 'assets/img/jugador_back.jpg' %}); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-justify">
        <div class="row">
          <div class="col-lg-7 col-md-0">
            <h1 class="display-2 text-white">Registro de Jugadores</h1>
            <p class="text-white mt-0 mb-5">El formulario actual sirve para el Registro de los Jugadores de la Liga.</p>
          </div>
        </div>
      </div>
</div>
    <!-- Page content -->
    <div class="container-fluid mt--9">
      <div class="row">
        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
            {% if tipo_usuario == 1%}
              <a type="button" class="btn btn-outline-info btn-sm" href = {% url 'transferencias' 0 1 %}>
                <i class="far fa-address-card"></i>
                Solicitudes de Registros en Equipos  
              </a>
            {% endif %}
            </div>
            <div class="card-body">
              <form role="form" action={% url 'jugadores' 0 %} method="POST" enctype = "multipart/form-data">
              {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Datos del jugador</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Nombres</label>
                        <input required autocomplete="off" type="text" id="input-username" class="form-control" placeholder="Ingrese los nombres del jugador..." name = "nombres" autofocus>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Apellidos</label>
                        <input required autocomplete="off" class="form-control" placeholder="Ingrese los apellidos del jugador..." name = "apellidos">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Documento</label>
                        <input required type="text" autocomplete="off" id="input-first-name" class="form-control" placeholder="Ingrese el numero de documento del jugador..." name = "documento">
                      </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                        <label for="example-date-input" class="form-control-label">Fecha de Nacimiento</label>
                        <input required class="form-control" type="date" id="example-date-input" lang= "es" name = "fecha_nacimiento">
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Extras</h6>
                <div class="pl-lg-0">  
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Ciudad de Residencia</label>
                            <select required class="form-control" name = "ciudad">
                              <option value="">--SELECCIONE UNA OPCION--</option>
                                {% for lista in listaciudades %}
                                  <option value = "{{lista.codigo_ciudad}}">
                                    {{lista.nombre_ciudad}}
                                  </option>
                                {% endfor %}
                            </select>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Nacionalidad</label>
                            <select required class="form-control nacionalidad" name = "nacionalidad" data-show-subtext="true" data-live-search="true">
                              <option value="">--SELECCIONE UNA OPCION--</option>
                                {% for lista in listanacionalidades %}
                                  <option value = "{{lista.codigo_nacionalidad}}">
                                    {{lista.descripcion_nacionalidad}}
                                  </option>
                                {% endfor %}
                            </select>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Posicion</label>
                            <select required class="form-control" name = "posicion">
                                <option value="">--SELECCIONE UNA OPCION--</option>
                                <option>Arquero</option>
                                <option>Defensa Central</option>
                                <option>Lateral Izquierdo</option>
                                <option>Lateral Derecho</option>
                                <option>Mediocampista Central</option>
                                <option>Mediocampista Izquierdo</option>
                                <option>Mediocampista Derecho</option>
                                <option>Delantero Central</option>
                                <option>Externo Izquierdo</option>
                                <option>Externo Derecho</option>
                            </select>
                      </div>
                    </div>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-20">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">Fotografia del Jugador</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFileLang" lang="en" name = "foto">
                                <label class="custom-file-label" for="customFileLang">Select file</label>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
                <hr class="my-4" />
                <span><button type="submit" class="btn btn-success">Guardar</button></span>
                <span><a type="button" class="btn btn-warning" href = {% url 'listarjugadores' %}>Listar</a></span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}



{% block extrajs %}
  {% if save_conf %}
  <script>
    Swal.fire({
      icon: 'success',
      title: 'Aviso',
      text: 'Registro guardado existosamente.',
      showConfirmButton: false,
      timer: 1500
    }).then( () => {
        location.href = '{% url 'jugadores' 0 %}'
    })
  </script>
  {% endif %}

  <script>
    $("#input-username").focus();
  </script>
{% endblock %}