{% extends "index.html" %}

{% block formularios %}

{% load static %}



<div {% if jugador_datos %} style="filter: blur(6px);" {% endif %}>
    <div class="header pb-9 d-flex align-items-center"
        style="min-height: 350px; background-image: url({% static 'assets/img/jugador_back.jpg' %}); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-justify">
            <div class="row">
                <div class="col-lg-10 col-md-0">
                    <h1 class="display-2 text-white">Listado General de Jugadores Registrados</h1>
                    <p class="text-white mt-0 mb-5"></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--9">
        <div class = "row" style="padding-bottom: 5px;">
            <div class ="col-lg-2 col-md-3">
                <a class="btn btn-icon btn-info" target="_blank" type="button" href="{% url 'reporte_jugadores_liga' %}">
                    <span class="btn-inner--icon"><i class="fas fa-print"></i></span>
                    <span class="btn-inner--text">Imprimir</span>
                </a>
            </div> 
            <div class ="col-lg-2 col-md-3">
                <button class="btn btn-icon btn-info" target="_blank" type="button" onclick="filtroImpresion()">
                    <span class="btn-inner--icon"><i class="fas fa-print"></i></span>
                    <span class="btn-inner--text">Filtrar Impresion</span>
                </button>
            </div> 
        </div>
        <div class="row">
            <div class="col-xl-12 order-xl-1">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive py-2">
                            <div class="dataTables_wrapper dt-bootrstrap4">
                                <table class="table table-flush dataTable align-items-center table-hover" id="datos">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Fotografia</th>
                                            <th scope="col" class="sort" data-sort="documento">Documento</th>
                                            <th scope="col" class="sort" data-sort="nomyape">Nombres y Apellidos</th>
                                            <th scope="col" class="sort" data-sort="nacimiento">Fecha de Nacimiento</th>
                                            <th scope="col" class="sort" data-sort="ciudad">Ciudad</th>
                                            <th scope="col" class="sort" data-sort="nacionalidad">Nacionalidad</th>
                                            <th scope="col" class="sort" data-sort="posicion">Posicion</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tfoot class="thead-light">
                                        <tr>
                                        <th>Fotografia</th>
                                        <th>Documento</th>
                                        <th>Nombres y Apellidos</th>
                                        <th>Fecha de Nacimiento</th>
                                        <th>Ciudad</th>
                                        <th>Nacionalidad</th>
                                        <th>Posicion</th>
                                        <th>Acciones</th>
                                        </tr>
                                    </tfoot>
                                    <tbody class="list">
                                        {% for lista in listajugadores %}
                                        <tr>
                                            <td>
                                                {% if lista.foto_jugador.url != '' %}
                                                <img src="{{lista.foto_jugador.url}}" width="50%"></img>
                                                {% else %}
                                                <img src="{% static 'assets/img/jugador.png'%}" width="50%">
                                                {% endif %}
                                            </td>
                                            <td scope="row" class = "documento">{{lista.documento}}</td>
                                            <td scope="row" class = "nomyape">{{lista.apellidos_jugador}}, {{lista.nombres_jugador}}</td>
                                            <td scope="row" class = "nacimiento">{{lista.fecha_nacimiento_jugador}}</td>
                                            <td scope="row" class = "ciudad">
                                                {% for lista2 in listaciudades %}
                                                    {% if lista2.codigo_ciudad == lista.ciudad_jugador %}
                                                        {{lista2.nombre_ciudad}}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td scope="row" class = "nacionalidad">
                                                {% for lista3 in listanacionalidades %}
                                                    {% if lista3.codigo_nacionalidad == lista.nacionalidad_jugador %}
                                                        {{lista3.descripcion_nacionalidad}}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td scope="row" class = "posicion">{{lista.posicion_jugador}}</td>
                                            <!---BOTONES-->
                                            <td>
                                                <a type="button" class="btn btn-outline-success" href={% url 'jugadores' lista.codigo_jugador %}>
                                                    <i class="far fa-edit"></i>
                                                </a>
                                                <button class="btn btn-outline-danger" onclick= "eliminarJugador('{{lista.codigo_jugador}}','{{lista.apellidos_jugador}}','{{lista.nombres_jugador}}')">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                                {% if tipo_usuario == 2 %}
                                                <a class="btn btn-outline-info" href={% url 'transferencias' lista.codigo_jugador 0 %}>
                                                    <i class="fas fa-exchange-alt"></i>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Transfer Submit Conf -->
<div class="modal fade" id="TransferModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro en Clubes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" action={% url 'transferencias' jugador_actual 0 %} method="POST">
                    {% csrf_token %}
                    <h6 class="heading-small text-muted mb-4">Jugador: {{jugador_datos.apellidos_jugador}},
                        {{jugador_datos.nombres_jugador}}</h6>
                    <h6 class="heading-small text-muted mb-4">Datos del Registro</h6>
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Club a ser registrado</label>
                                    <select class="form-control form-control-sm" name="equipo">
                                        {% for lista in listaclubes %}
                                        {% if lista.codigo_club == club_usuario %}
                                        <option value={{lista.codigo_club}}>
                                            {{lista.Nombre}}
                                        </option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">En calidad de:</label>
                                    <select required class="form-control form-control-sm" name="tipo_registro" onchange="mostrarExtra(this);" id="tipo_registro">
                                        <option value="">--SELECCIONE UNA OPCION--</option>
                                        <option value="1">Definitivo</option>
                                        <option value="2" id="Prestamo">Prestamo</option>
                                    </select>
                                </div>
                                <div id="Extras" style="display:none">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <span>Desde</span>
                                                <input class="form-control" type="date" id="fecha_desde"
                                                    lang="es" name="fecha_desde" value="9999-12-31">
                                            </div>
                                            <div class="col">
                                                <span>Hasta</span>
                                                <input class="form-control" type="date" id="fecha_hasta"
                                                    lang="es" name="fecha_hasta" value="9999-12-31">
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Estado</label>
                                    <select class="form-control form-control-sm" name="estado">
                                        <option value="0">Pendiente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center><button type="submit" class="btn btn-success">Enviar</button></center>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Filtro impreison Submit Conf -->
<div class="modal fade" id="filtroImpresion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro en Clubes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" action={% url 'reporte_jugadores_liga' %} method="POST">
                    {% csrf_token %}
                    <h6 class="heading-small text-muted mb-4">Filtro</h6>
                    <div class="pl-lg-0">
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <span>Filtrar nacimiento desde:</span>
                                        <input class="form-control" type="date" id="fecha_desde"
                                            lang="es" name="fecha_desde" value="9999-12-31">
                                    </div>
                                    <div class="col">
                                        <span>Filtrar nacimiento hasta:</span>
                                        <input class="form-control" type="date" id="fecha_hasta"
                                            lang="es" name="fecha_hasta" value="9999-12-31">
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <center><button type="submit" class="btn btn-success">Enviar</button></center>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<!---Modal Actualizacion -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Jugador</h5>
                <a type="button" class="close" href="{% url 'listarjugadores' %}" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <form role="form" enctype="multipart/form-data" name = "update" id = "updateForm">
                    {% csrf_token %}
                    <h6 class="heading-small text-muted mb-4">Datos del jugador</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Nombres</label>
                                    <input required type="text" id="input-username" class="form-control"
                                        value="{{jugador_datos.nombres_jugador}}" name="nombres" autofocus>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">Apellidos</label>
                                    <input required class="form-control" value="{{jugador_datos.apellidos_jugador}}"
                                        name="apellidos">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">Documento</label>
                                    <input required type="text" id="input-first-name" class="form-control"
                                        value="{{jugador_datos.documento}}" name="documento">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="example-date-input" class="form-control-label">Fecha de
                                        Nacimiento</label>
                                    <input required class="form-control" type="date" id="example-date-input" lang="es"
                                        name="fecha_nacimiento" value="{{jugador_datos.fecha_nacimiento_jugador}}">
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Extras -->
                        <h6 class="heading-small text-muted mb-4">Extras</h6>
                        <div class="pl-lg-0">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Ciudad de Residencia</label>
                                        <select required class="form-control" name="ciudad">
                                            <option value="">--SELECCIONE UNA OPCION--</option>
                                            {% for lista in listaciudades %}
                                            <option value = "{{lista.codigo_ciudad}}" {% if lista.codigo_ciudad == jugador_datos.ciudad_jugador %} selected {% endif %}>
                                                {{lista.nombre_ciudad}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Nacionalidad</label>
                                        <select required class="form-control" name="nacionalidad">
                                            <option value="">--SELECCIONE UNA OPCION--</option>
                                            {% for lista in listanacionalidades %}
                                            <option value = "{{lista.codigo_nacionalidad}}" {% if lista.codigo_nacionalidad == jugador_datos.nacionalidad_jugador %} selected {% endif %}>
                                                {{lista.descripcion_nacionalidad}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Posicion</label>
                                        <select required class="form-control" name="posicion">
                                            <option value="">--SELECCIONE UNA OPCION--</option>
                                            <option value="Arquero" {% if jugador_datos.posicion_jugador == 'Arquero' %} selected {% endif %}>Arquero</option>
                                            <option value="Defensa Central" {% if jugador_datos.posicion_jugador == 'Defensa Central' %} selected {% endif %}>Defensa Central</option>
                                            <option value="Lateral Izquierdo" {% if jugador_datos.posicion_jugador == 'Lateral Izquierdo' %} selected {% endif %}>Lateral Izquierdo</option>
                                            <option value="Lateral Derecho" {% if jugador_datos.posicion_jugador == 'Lateral Derecho' %} selected {% endif %}>Lateral Derecho</option>
                                            <option value="Mediocampista Central" {% if jugador_datos.posicion_jugador == 'Mediocampista Central' %} selected {% endif %}>Mediocampista Central</option>
                                            <option value="Mediocampista Izquierdo" {% if jugador_datos.posicion_jugador == 'Mediocampista Izquierdo' %} selected {% endif %}>Mediocampista Izquierdo</option>
                                            <option value="Mediocampista Derecho" {% if jugador_datos.posicion_jugador == 'Mediocampista Derecho' %} selected {% endif %}>Mediocampista Derecho</option>
                                            <option value="Delantero Central" {% if jugador_datos.posicion_jugador == 'Delantero Central' %} selected {% endif %}>Delantero Central</option>
                                            <option value="Externo Izquierdo" {% if jugador_datos.posicion_jugador == 'Externo Izquierdo' %} selected {% endif %}>Externo Izquierdo</option>
                                            <option value="Externo Derecho" {% if jugador_datos.posicion_jugador == 'Externo Derecho' %} selected {% endif %}>Externo Derecho</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-15">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-city">Fotografia del Jugado</label>
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="customFileLang" lang="en" name = "foto">
                                                            <label class="custom-file-label" for="customFileLang">Select file</label>
                                                        </div>
                                                  </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                </form>
                <center>
                    <span><button type="submit" class="btn btn-success">Guardar</button></span>
                    <span><a class="btn btn-danger" href = "{% url 'listarjugadores' %}">Cancelar</a></span>
                </center>
            </div>
        </div>
    </div>
</div>






{% endblock %}

{% block extrajs %}



<!--Modicacion Model-->
{% if jugador_actual > 0 and bandera == 0 %}
    <script>
        $(document).ready(function () {
            $('#exampleModal').modal('show');
        });
    </script>
    {% else %}


<!--Apertura confirmacion delete-->
{% if jugador_actual > 0 and bandera == 4 %}
    <script>
        $(document).ready(function () {
            $('#TransferModal').modal('show');
        });
    </script>
{% endif %}

{% endif %}

<script>
    function filtroImpresion(){
        $('#filtroImpresion').modal('show');
    }
</script>

<!--Sirve para mostrar opciones extras al usar la transferencia a prestamo-->
{% if jugador_datos %}
<script>
    console.log('{{jugador_datos.fecha_nacimiento_jugador}}');
</script>
{% endif %}


<script>
    function mostrarExtra(nameSelect) {
        console.log(nameSelect);
        if (nameSelect) {
            admOptionValue = document.getElementById("Prestamo").value;
            if (admOptionValue == nameSelect.value) {
                document.getElementById("Extras").style.display = "block";
                document.getElementById("fecha_desde").required = true;
                document.getElementById("fecha_desde").value = "";
                document.getElementById("fecha_hasta").required = true;
                document.getElementById("fecha_hasta").value = "";
            }
            else {
                document.getElementById("Extras").style.display = "none";
                document.getElementById("fecha_desde").value = "9999-01-01";
                document.getElementById("fecha_hasta").value = "9999-01-01";
                console.log(document.getElementById("fecha_desde").value)
            }
        }
        else {
            document.getElementById("Extras").style.display = "none";
        }
    }
</script>

{% if conf %}
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Aviso',
            text: 'Solicitud enviada en espera de aprobacion.',
            showConfirmButton: false,
            timer: 2000
        }).then( () => {
            location.href = '{% url 'listarjugadores' %}'
        })
    </script>
{% endif %}


<script>
    $("#exampleModal").on("hidden.bs.modal", function () {
        location.href = '{% url 'listarjugadores' %}'
    });
    $("#TransferModal").on("hidden.bs.modal", function () {
        location.href = '{% url 'listarjugadores' %}'
    });
</script>

<!--Funciones ajax-->
<script>
    function eliminarJugador(codigo_jugador, apellidos_jugador, nombres_jugador){
    id_jugador = codigo_jugador
    event.preventDefault();
    Swal.fire({
        title: 'Eliminacion de Jugador',
        text: `Estas seguro que desea eliminar al jugador ${apellidos_jugador}, ${nombres_jugador}?`,
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Confirmar',
        cancelButtonText: "Cancelar",
        confirmButtonColor: '#2dce89',
        cancelButtonColor: '#d33',
    }).then((result) => {
        if (result.value) {
            $.ajax({
                url: "{% url 'borrarjugadores' %}",
                type: 'POST',
                data:{
                    'id_jugador': id_jugador,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success: 
                function(data){
                    if (data.bandera == 0){
                        Swal.fire({
                            icon: 'error',
                            title: 'Aviso',
                            text: `El jugador ${apellidos_jugador}, ${nombres_jugador} ha sido eliminado.`, 
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            location.href = '{% url 'listarjugadores' %}'
                        })
                    }
                    if(data.bandera == 1){
                        Swal.fire({
                            icon: 'warning',
                            title: 'Aviso',
                            text: data.mensaje,
                            showConfirmButton: true
                        })
                    }
                }
            })
        }
        else{
            false
        };
    })
    }

    {% if jugador_datos %}
        $(function(){
            'use strict';

            $('#updateForm').on('submit', function(){
                var formulario = new FormData(this);
                var URLdomain = window.location.host; //SE RECUPERA EL DOMINIO DE LA PAGINA
                var url_redirect = "//" + URLdomain + "/pagina/jugadores/" + {{jugador_datos.codigo_jugador}}; //SE COCATENA EL DOMINIO,URL Y EL PARAMETRO
                event.preventDefault();
                Swal.fire({
                title: 'Modificacion de Jugador',
                text: `Estas seguro que desea modificar los datos del jugador {{jugador_datos.apellidos_jugador}}, {{jugador_datos.nombres_jugador}}?`,
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Confirmar',
                cancelButtonText: "Cancelar",
                confirmButtonColor: '#2dce89',
                cancelButtonColor: '#d33',
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: url_redirect,
                        type: 'POST',
                        data: formulario,
                        processData: false,
                        contentType: false,
                        success: 
                        function(data){
                            if (data.bandera == 0){
                                $('.modal').hide(500);
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Aviso',
                                    text: `Los datos del jugador {{jugador_datos.apellidos_jugador}}, {{jugador_datos.nombres_jugador}} han sido modificados.`, 
                                    showConfirmButton: false,
                                    timer: 1500
                                }).then(() => {
                                    location.href = '{% url 'listarjugadores' %}'
                                })
                            } else{
                                $('.modal').hide(300);
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Aviso',
                                    text: `Usted no cuenta con los permisos necesarios para realizar la accion.`, 
                                    showConfirmButton: true,
                                }).then(() => {
                                    location.href = '{% url 'listarjugadores' %}'
                                })
                            }
                        }
                    })
                }
                else{
                    false
                };
            })
            })
        })
    {% endif %}

</script>

{% endblock %}