{% extends "base.html" %}
{% block cuerpo%}
{% load static %}

{% block extracss %}

<style type="text/css">
    html {page-break-after: avoid;}
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
    div   { page-break-inside:avoid; }
    html, body { height: auto; }
</style>

{% endblock %}


<style>
    .img_equipo {
        width: 5em;
        height: 5em;
    }

    .img_equipo img {
        height: 100%;
    }

    .img_liga {
        width: 3em;
        height: 3em;
    }

    .img_liga img {
        height: 100%;
    }
</style>


<section class="row">
    <section class="container" style="display: flex; justify-content: center; flex-direction: column; align-items: center; padding-top: 1em; padding-bottom: 1em; border: outset;">
        <section class="row">
            <section class="img_liga">
                <img src="{% static 'assets/img/lapf.png' %}">
            </section>
        </section>
        <section class="row">
            <strong><span class="text-muted">Liga Alto Paraná de Futbol</span></strong>
        </section>
        <section class="row">
            <strong><span class="text-muted">Hohenau-Itapúa</span></strong>
        </section>
    </section>
</section>
<br>
<center><p class="display-4">Listado de Clubes Afiliados</p></center>
<!-- Page content -->   

    <section class="col-xl-12 order-xl-1">
        <section class="card">
            <section class="card-body">
                <section class="table-responsive">
                    <section class="dataTables_wrapper dt-bootrstrap4">
                        <table class="table table-flush dataTable align-items-center table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Escudo</th>
                                    <th scope="col" >Nombre</th>
                                    <th scope="col" >Sede</th>
                                    <th scope="col" >Estadio</th>
                                    <th scope="col" >Fecha de Fundacion</th>
                                </tr>
                            </thead>
                            <tfoot class="thead-light">
                                <tr>
                                    <th>Escudo</th>
                                    <th>Nombre</th>
                                    <th>Sede</th>
                                    <th>Estadio</th>
                                    <th>Fecha de Fundacion</th>
                                    
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% for lista in listaclubes %}
                                <tr>
                                    <td>
                                        <section class="img_equipo" style="display: flex; justify-content: center;">
                                            {% if lista.Equipo_Escudo.url != '' %}
                                            <img src="{{lista.Equipo_Escudo.url}}"></img>
                                            {% else %}
                                            <img src={% static 'assets/img/club-de-futbol.png' %}>
                                            {% endif %}
                                        </section>

                                    </td>
                                    <td class= "nombre">{{lista.Nombre}}</td>
                                    <td class= "sede">
                                        {% for lista2 in listaciudades %}
                                            {% if lista2.codigo_ciudad == lista.Sede %}
                                                {{lista2.nombre_ciudad}}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class = "estadio">
                                        {% for lista3 in listacanchas %}
                                            {% if lista3.codigo_estadio == lista.Cancha %}
                                                {{lista3.nombre_estadio}}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class = "fecha">{{lista.Fecha_Fundacion}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>
                </section>
            </section>
        </section>
    </section>


<footer>
    <section class="container">
        <section class="row">
            <section class="col-xl-10 order-xl-1">
                <section class="card" style="padding-top: 10px;">
                    <section class="card-body">
                        <p style="float: left;"><strong>FIRMA POR LAPF:</strong> ______________________________________</p>
                        <p style="float: right;"><strong>ACLARACION:</strong> ____________________________________________</p>
                    </section>
                </section>
            </section>
        </section>
    </section>
</footer>

{% endblock %}