{% extends "base.html" %}
{% load static %}

{% block barra %}
<style>
    .card-header {
        background: #f2f2f2;
    }

    .card-block {
        height: 40em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f2f2f2;
    }

    .form-material {
        display: flex;
        margin: 1em;
        height: 100%;
        width: 65%;
        gap: 2em;
        flex-direction: column;
        background: #f2f2f2;
    }

    .input-confirmar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }
</style>
<div class="card">
    <div class="card-header">
        <h3>{{parameters.titulo_f}}</h3>
    </div>
    <div class="card-block">
        <form class="form-material" action="{% url 'modproveedor' 0 %}" method="POST"
            style="margin: 1em">
            {% csrf_token %}
            <div class="form-group form-default">
                <label class="float-label">Nombre Comercial</label>
                <span class="form-bar"></span>
                <input type="text" name="nombre_proveedor" class="form-control" required
                    value="{{parameters.datos_act.nombre_proveedor}}">
            </div>
            
            <div class="form-group form-default">
                <label class="float-label">Razón Social</label>
                <span class="form-bar"></span>
                <input type="text" name="razon_social_proveedor" class="form-control" required
                    value="{{parameters.datos_act.razon_social_proveedor}}">
            </div>

                <div class="form-group form-default">
                    <label class="float-label">RUC</label>
                    <span class="form-bar"></span>
                    <input type="text" name="ruc_proveedor" class="form-control" required
                        value="{{parameters.datos_act.ruc_proveedor}}">
                </div>
                <div class="form-group form-default">
                    <label class="float-label">Teléfono</label>
                    <span class="form-bar"></span>
                    <input type="number" name="telefono_proveedor" class="form-control" required
                        value="{{parameters.datos_act.telefono_proveedor}}">
                </div>

                <div class="form-group form-default">
                    <label class="float-label">Dirección</label>
                    <span class="form-bar"></span>
                    <input type="text" name="direccion_proveedor" class="form-control" required
                    value="{{parameters.datos_act.direccion_proveedor}}">
            </div>
                </div>

            </div>
            <div class="input-confirmar">
               

                <div class="form-group form-default">
                    <button type="submit" class="btn btn-success btn-round waves-effect waves-light">Grabar</button>
                    <a href="{% url 'verproveedor' %}" class="btn btn-info btn-round waves-effect waves-light">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{%static 'js/app.js'%}"></script>
{% endblock %}