{% extends "base.html" %}
{% load static %}

{% block barra %}
<div class="card">
    <div class="card-header">
        <h5>Datos del Usuario</h5>
    </div>
    <div class="card-block">
        <form class="form-material" action="{% url 'modusuario' usu_actual %}" method="POST">
        {% csrf_token %}
            <div class="form-group form-default">
                <input type="text" name="nombre_completo_usuario" class="form-control" required value="{{usuario_actual.nombre_completo_usuario}}">
                <span class="form-bar"></span>
                <label class="float-label">Nombre Completo</label>
            </div>
            <div class="form-group form-default">
                <input type="text" name="nombre_usuario" class="form-control" required value="{{usuario_actual.nombre_usuario}}">
                <span class="form-bar"></span>
                <label class="float-label">Usuario</label>
            </div>
            <br></br>
            <div class="form-group form-default">
                <input type="password" name="password_usuario" class="form-control" required value="{{usuario_actual.password_usuario}}">
                <span class="form-bar"></span>
                <label class="float-label">Contraseña</label>
            </div>
            <div class="form-group form-default">
                <button type="submit" class="btn btn-success btn-round waves-effect waves-light">Grabar</button>
                <a href="{% url 'verusuario' %}" class="btn btn-info btn-round waves-effect waves-light">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<script src="{%static 'js/app.js'%}"></script>
{% endblock %}
