{% extends "base.html" %}
{% load static %}

{% block barra %}

<body>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                fixedHeader: true,
                responsive: true,
                dom: 'lBfrtip',
                buttons: [
                    {
	        			extend:    'excelHtml5',
	        			text:      '<i class="fas fa-file-excel"></i> ',
	        			titleAttr: 'Exportar a Excel',
	        			className: 'btn btn-success'
	        		},
	        		{
	        			extend:    'pdfHtml5',
	        			text:      '<i class="fas fa-file-pdf"></i> ',
	        			titleAttr: 'Exportar a PDF',
	        			className: 'btn btn-danger'
	        		},
                    {
	        			extend:    'print',
	        			text:      '<i class="fa fa-print"></i> ',
	        			titleAttr: 'Imprimir',
	        			className: 'btn btn-info'
	        		},
                ]
            });
        });
    </script>

    <div class="col-md-3 col-xl-2">
    </div>
    <div class="card">
        <div class="card-header">
            
            <div class="form-group form-default" style="display: flex; justify-content: space-between; align-items: center;">
                <h3 style="margin: 0">Lista de Usuarios</h3><a href="{% url 'modusuario' 0 %}"><button class="btn btn-success btn-round waves-effect waves-light">Nuevo Usuario</button></a>
            </div>
            <div class="py-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="example" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Nombre Completo</th>
                                        <th>Tipo de Usuario</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lista in parameters.listatabla %}
                                    <tr>
                                        <td>{{ lista.nombre_usuario }}</td>
                                        <td>{{ lista.nombre_completo_usuario }}</td>
                                        {%if lista.tipo_usuario == 1 %}
                                        <td>Administrador</td>
                                        {% else %}
                                        <td>Empleado</td>
                                        {% endif %}
                                        <td>
                                            <div class="icon-btn">
                                                <a href="{% url 'modusuario' lista.id_usuario %}"
                                                    class="btn waves-effect waves-light btn-warning btn-icon"
                                                    style="color: white;" data-toggle="tooltip" data-placement="top"
                                                    title="" data-original-title="Modificar Registro"><i
                                                        data-feather="edit"></i></a>
                                                <a onclick="checker()" href="{% url 'borusuario' lista.id_usuario %}"
                                                    onclick="return confirm('Eliminar el registro?')"
                                                    class="btn waves-effect waves-light btn-danger btn-icon"
                                                    style="color: white;" data-toggle="tooltip" data-placement="top"
                                                    title="" data-original-title="Eliminar Registro"><i
                                                        data-feather="trash-2"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{%static 'js/app.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/Buttons-2.2.2/css/buttons.bootstrap5.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.print.min.js' %}"></script>
    <script>
        function alerta() {
            if (sessionStorage.getItem('1') == 1) {
                Swal.fire({
                    icon: 'success',
                    title: 'Aviso',
                    text: 'Registro guardado existosamente.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                })
                sessionStorage.setItem('1', 0)
            }
        }
        window.onload = alerta()
    </script>
    </main>

    {% endblock %}