{% extends "base.html" %}
{% load static %}

{% block barra %}<div class="col-md-3 col-xl-2">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Profile Settings</h5>
        </div>

        <div class="list-group list-group-flush" role="tablist">
            <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#account" role="tab">
                Cuenta
            </a>
            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="/pagina/verusuario" role="tab">
                Lista de Usuarios 
            </a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>Lista de Usuarios</h5>
 
    </div>
    <div class="card-block table-border-style">
        <div style="padding:0 1em; margin-bottom: 20px; display: flex; justify-content: space-between; width: 33em;">

            <input type="text" id="filter0" placeholder="Usuario" style=" width: 8em;">
            <input type="text" id="filter1" placeholder="Nombre Completo" style=" width: 10em;">

        </div>

        <div class="table-responsive">
            <table id="filter" class="table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre Completo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lista in listatabla %}
                    <tr>
                        <td>{{ lista.nombre_usuario }}</td>
                        <td>{{ lista.nombre_completo_usuario }}</td>
                        <td><div class="icon-btn">
                          <a href="{% url 'modusuario' lista.id_usuario %}" class="btn waves-effect waves-light btn-warning btn-icon" style="color: white;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Modificar Registro"><i data-feather="edit"></i></a>
                          <a href="{% url 'borusuario' lista.id_usuario %}" onclick="return confirm('Eliminar el registro?')" class="btn waves-effect waves-light btn-danger btn-icon" style="color: white;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar Registro"><i data-feather="trash-2"></i></a>
                        </div></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'modusuario' 0 %}" class="btn waves-effect waves-light btn-success" style="margin-bottom: 1em; margin-left: 1em;"><i class="icofont icofont-plus"></i>Nuevo Registro</a>
        </div>
    </div>
</div>

<script src="{%static 'js/TableFilter.min.js'%}" defer></script>
<script src="{%static 'js/app.js'%}"></script>

{% endblock %}
