{%extends "base.html"%}
{%block barra%}
{%load static%}

<body>
    <style>
        .dataTables_length{
            display: contents;
        }

        .dt-buttons{
            display: contents;
        }
        
    </style>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                "language": {
                "emptyTable":     "La tabla se encuentra vacia.",
                "info":           "Mostrando _END_ de _MAX_ registros",
                "infoEmpty":      "",
                "infoFiltered":   "",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ registrosㅤㅤㅤㅤㅤㅤAcciones:",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar: ",
                "zeroRecords":    "No se obtuvo ninguna coincidencia",
                oPaginate: {
                    sNext: '<i class="fa fa-forward"></i>',
                    sPrevious: '<i class="fa fa-backward"></i>',
                    sFirst: '<i class="fa fa-step-backward"></i>',
                    sLast: '<i class="fa fa-step-forward"></i>',
                },
            },
                fixedHeader: true,
                responsive: true,
                dom: 'lBfrtip',
                buttons: [
                    {
	        			extend:    'excelHtml5',
	        			text:      '<i class="fas fa-file-excel"></i> ',
	        			titleAttr: 'Exportar a Excel',
	        			className: 'btn btn-success',
                        title: 'Listado de Periféricos',
                        exportOptions: {
                            columns: [ 0, 2, 3, 4, 5, 6, 7, 8 ]
                        }
	        		},
	        		{
	        			extend:    'pdfHtml5',
	        			text:      '<i class="fas fa-file-pdf"></i> ',
	        			titleAttr: 'Exportar a PDF',
	        			className: 'btn btn-danger',
                        title: 'Listado de Periféricos',
                        exportOptions: {
                            columns: [ 0, 2, 3, 4, 5, 6, 7, 8 ]
                        }
	        		},
                    {
	        			extend:    'print',
	        			text:      '<i class="fa fa-print"></i> ',
	        			titleAttr: 'Imprimir',
	        			className: 'btn btn-info',
                        title: 'Listado de Periféricos',
                        exportOptions: {
                            columns: [ 0, 2, 3, 4, 5, 6, 7, 8 ]
                        }
	        		},
                ],
            });
        });
    </script>
    
    <div class="py-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div style="display: flex; justify-content: space-between; gap: 1em;">
                        <form>
                            <a class="img-responsive mt-2" onclick="history.back()"><img src="{%static 'img/icons/back.png'%}" width="50" height="50"></a>
                        </form>
                        <h1 class="text-center" style="padding: 0.5em;">Lista de Periféricos</h1>
                        <a href="{% url 'perifericomod' 0 %}"><button class="btn btn-success btn-round waves-effect waves-light" style="margin: 1em;">Nuevo Periférico</button></a>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="example" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Imagen</th>
                                            <th>Tipo</th>
                                            <th>Marca</th>
                                            <th>Descripción</th>
                                            <th>Proveedor</th>
                                            <th>Precio Compra</th>
                                            <th>Precio Venta</th>
                                            <th>Stock</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for lista in parameters.listatabla %}
                                            {% if lista.tipo_periferico != 11 and lista.tipo_periferico != 12 and lista.tipo_periferico != 13 and lista.tipo_periferico != 14 and lista.tipo_periferico != 15 and lista.tipo_periferico != NULL %}
                                                <tr>
                                                    <td>{{ lista.cod_periferico }}</td>
                                                    {% if lista.imagen_periferico != '' %}
                                                            <td><img src="{{ lista.imagen_periferico.url }}" width="100" height="100"></td>
                                                    {% else %}
                                                            <td><img src="{% static 'img\photos\producto-sin-imagen.jpg'%}" width="100" height="100"></td>   
                                                    {% endif %}
                                                        {%if lista.tipo_periferico == 1 %}<td>Fuente</td>{% endif %} 
                                                        {%if lista.tipo_periferico == 2 %}<td>Gabinete</td>{% endif %}
                                                        {%if lista.tipo_periferico == 3 %}<td>Almacenamiento</td>{% endif %}
                                                        {%if lista.tipo_periferico == 4 %}<td>Mouse</td>{% endif %}
                                                        {%if lista.tipo_periferico == 5 %}<td>Teclado</td>{% endif %} 
                                                        {%if lista.tipo_periferico == 6 %}<td>Auriculares</td>{% endif %}
                                                        {%if lista.tipo_periferico == 7 %}<td>Monitor</td>{% endif %}
                                                        {%if lista.tipo_periferico == 8 %}<td>Placa de Video</td>{% endif %}
                                                        {%if lista.tipo_periferico == 9 %}<td>Impresora</td>{% endif %}
                                                        {%if lista.tipo_periferico == 10 %}<td>Otros</td>{% endif %}
                                                        {%if lista.tipo_periferico == 11 %}<td>Placa Base</td>{% endif %}
                                                        {%if lista.tipo_periferico == 12 %}<td>Repuesto</td>{% endif %}
                                                        {%if lista.tipo_periferico == 13 %}<td>Memoria RAM</td>{% endif %}
                                                        {%if lista.tipo_periferico == 14 %}<td>Procesador</td>{% endif %}
                                                        {%if lista.tipo_periferico == 15 %}<td>Gabinete</td>{% endif %}
                                                    <td>{{ lista.marca_periferico }}</td>
                                                    <td>{{ lista.descripcion_periferico }}</td>
                                                    <td>
                                                        {%for lista1 in parameters.listaproveedor%}
                                                        {% if lista1.codigo_proveedor == lista.nombre_proveedor_id%}
                                                        {{lista1.nombre_proveedor}}
                                                        {%endif%}
                                                        {%endfor%}
                                                    </td>
                                                    <td class="precio">{{ lista.precio_compra_periferico }}</td>
                                                    <td class="precio">{{ lista.precio_venta_periferico }}</td>
                                                    <td>{{ lista.stock_periferico }}</td>
                                                    <td>
                                                        <div class="icon-btn">
                                                            <a href="{% url 'perifericomod' lista.id_periferico %}"
                                                                class="btn waves-effect waves-light btn-warning btn-icon"
                                                                style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                                                data-original-title="Modificar Registro"><i data-feather="edit"></i></a>
                                                            <a href="{% url 'perifericobor' lista.id_periferico %}"
                                                                onclick="return confirm('Eliminar el registro?')"
                                                                class="btn waves-effect waves-light btn-danger btn-icon"
                                                                style="color: white;" data-toggle="tooltip" data-placement="top" title=""
                                                                data-original-title="Eliminar Registro"><i data-feather="trash-2"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Código</th>
                                            <th>Imagen</th>
                                            <th>Tipo</th>
                                            <th>Marca</th>
                                            <th>Descripción</th>
                                            <th>Proveedor</th>
                                            <th>Precio Compra</th>
                                            <th>Precio Venta</th>
                                            <th>Stock</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

    <script src="{%static 'js/app.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/Buttons-2.2.2/css/buttons.bootstrap5.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/JSZip-2.5.0/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.bootstrap5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Buttons-2.2.2/js/buttons.print.min.js' %}"></script>
    <script>
        function alerta() {
            if (sessionStorage.getItem('1') == 1) {
                Swal.fire({
                    icon: 'success',
                    title: 'Aviso',
                    text: 'Registro guardado existosamente.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                })
                sessionStorage.setItem('1', 0)
            }
        }
        window.onload = alerta()

        function formatText(data) {
            data = document.getElementsByClassName(data)
            var value
            for(let i = 0; i < data.length; i++) {
                value = data[i].innerText
                value = parseFloat(value).toLocaleString('es')
                data[i].innerText = value
            }
        }       
        formatText("precio") //formatear numeros
    </script>
</body>

</html>


{%endblock%}