{% extends "base.html" %}
{% load static %}

{% block barra %}
<style>
    .card-header {
        background: #f2f2f2;
    }

    .card-block {
        height: 40em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f2f2f2;
    }

    .form-material {
        display: flex;
        margin: 1em;
        height: 100%;
        width: 65%;
        gap: 2em;
        flex-direction: column;
        background: #f2f2f2;
    }

    .input-confirmar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }
</style>
<div class="card">
    <div class="card-header">
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1em;">
            <form>
                <a class="img-responsive mt-2" onclick="history.back()"><img src="{%static 'img/icons/back.png'%}" width="50" height="50"></a>
            </form>
            <h1 class="text-center" style="padding: 0.5em;">{{parameters.titulo_f}}</h1>
        </div>
    </div>
    <div class="card-block">
        <form class="form-material" action="{% url 'modtipo_ram' parameters.tipo_ram_actual %}" method="POST" onsubmit="sessionStorage.setItem('1', 1);"
            style="margin: 1em">
            {% csrf_token %}
            <div class="form-group form-default">
                <label class="float-label">Tipo de Ram</label>
                <span class="form-bar"></span>
                <input type="text" name="desc_tipo_ram" class="form-control" required
                    value="{{parameters.datos_act.desc_tipo_ram}}" placeholder="Ingrese Tipo de RAM">
            </div>
            <div class="input-confirmar">

                <div class="form-group form-default">
                    <button type="submit" class="btn btn-success btn-round waves-effect waves-light" onclick="return confirm('Estás seguro de añadir este Tipo de Ram?')">Grabar</button>
                    <a href="{% url 'vertipo_ram' %}" class="btn btn-info btn-round waves-effect waves-light">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{%static 'js/app.js'%}"></script>

{% endblock %}